﻿
<div class="modal fade right" id="modaleventos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-animation="false">
    <div class="modal-dialog modal-full-height modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header blue darken-4  white-text">
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" data-animation="false" data-tooltip="tooltip" data.placement="right" title="Cerrar esta ventana">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="title"><i class="fa fa-pied-piper font-weight-bold" aria-hidden="true"></i> {{gestion}} Evento</h4>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-2 font-weight-bold">Titulo :</label>
                            <input class="col-8" ng-model="titulo" maxlength="70" />
                            <label class="col-2 font-weight-bold">Fecha Inicio: </label>
                            <input class="col-8" ng-model="fechainicio" type="date"/>
                            <label class="col-2 font-weight-bold">Fecha Fin:</label>
                            <input class="col-8" ng-model="fechafin"   type="date"/>
                            <text-angular ng-model="contenido">

                            </text-angular>

                        </div>
                    </div>


                    <p class="red-text">{{messageCant}}</p>
                    <div class="form-group font-weight-bold text-center">
                        <div class="text-center">
                            <input type="submit" value="Guardar" class="btn btn-sm blue darken-4" ng-click="guardar()" />
                        </div>
                        <p class="red-text">{{message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>