﻿
<div class="modal fade right" id="modaldoc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-animation="false">
    <div class="modal-dialog modal-full-height modal-sm" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header blue darken-4  white-text">
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" data-animation="false" data-tooltip="tooltip" data.placement="right" title="Cerrar esta ventana">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="title"><i class="fa fa-pied-piper font-weight-bold" aria-hidden="true"></i> {{gestion}}Documentos</h4>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-12">
                            <form name="myForm">
                                <fieldset>
                           
                                    Archivo PDF: <input ngf-select="" class="" ng-model="picFile" name="file" ngf-accept="'.pdf'" required="" type="file" ngf-max-size="3MB">
                                    <i ng-show="myForm.file.$error.required">*requerido</i>
                                    <br>
                                  
                                    <img ngf-src="picFile" class="thumb">
                                    <span class="progress" ng-show="picFile.progress >= 0">
                                        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'" class="ng-binding"></div>
                                    </span>
                                    <span ng-show="picFile.result">Archivo subido</span>
                                </fieldset>
                                <br>
                               
                            </form>

                        </div>
                    </div>


                    <p class="red-text">{{messageCant}}</p>
                    <div class="form-group font-weight-bold text-center">
                        <div class="text-center">
                            <input type="submit" value="Guardar" class="btn btn-sm blue darken-4" ng-click="guardar()" ng-disabled="!myForm.$valid" />
                        </div>
                        <p class="red-text">{{message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>