﻿
<div class="modal fade right" id="modalmenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-animation="false">
    <div class="modal-dialog modal-full-height modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header blue darken-4  white-text">
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" data-animation="false" data-tooltip="tooltip" data.placement="right" title="Cerrar esta ventana">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="title"><i class="fa fa-pied-piper font-weight-bold" aria-hidden="true"></i> {{gestion}} Menu</h4>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-2 font-weight-bold">Nombre :</label>
                            <input type="text" class="col-8" ng-model="menu" maxlength="70" />
                            <div class="row ml-1 mt-1">
                                <label class="col-2 font-weight-bold ">Menu Padre :</label>
                                <select class="col-8 browser-default custom-select" name="selectmenus" id="selectmenus" ng-model="idmenupadre">
                                    <option value="null">--</option>
                                    <option ng-repeat="option in menuspadres" value="{{option.IdMenu}}">{{option.Menu}}</option>
                                </select>
                            </div>
                            <label class="col-2 font-weight-bold">Orden :</label>
                            <input type="number" class="col-8" ng-model="orden" />



                            <label class="col-2 font-weight-bold">Icono :</label>
                            <input type="text" class="col-8" ng-model="icono" maxlength="70" />
                            <div class="row ml-1 mt-1">
                                <label class="col-2 font-weight-bold ">Pagina :</label>
                                <select class="col-8 browser-default custom-select" name="selectpagina" id="selectpagina" ng-model="idpagina">
                                    <option value="null">--</option>
                                    <option ng-repeat="option in listapaginas" value="{{option.idPagina}}">{{option.pagina}}</option>
                                </select>
                            </div>

                        </div>
                    </div>


                    <p class="red-text">{{messageCant}}</p>
                    <div class="form-group font-weight-bold text-center">
                        <div class="text-center">
                            <input type="submit" value="Guardar" class="btn btn-sm blue darken-4" ng-click="guardar()" />
                        </div>
                        <p class="red-text">{{message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>