﻿@{
    Layout = "~/Views/Shared/_Layout_A.cshtml";
    ViewBag.Title = "CMS - Eventos PIENSA";
}


<ng-controller ng-controller="CmsNoticiaController" ng-clock>
    <div class="card card-block rounded smooth-scroll">

        <h4 class="h4-responsive indigo-text font-weight-bold">Eventos del sitio </h4>        <hr />


        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="blue darken-4  white-text">
                    <tr>
                        <th>
                            id
                        </th>

                        <th>
                            Titulo
                        </th>
                        <th>
                            Contenido
                        </th>
                        <th>
                            Fecha/Hora Publicación
                        </th>
                        <th>
                            Fecha/Hora Inicio
                        </th>
                        <th>
                            Fecha/Hora Fin
                        </th>


                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large blue darken-4 ">
                <i class="fa fa-cogs"></i>
            </a>

            <ul>
                <li><a class="btn-floating green" data-an   tion="false" ng-click="nuevo()" data-tooltip=tooltip data-placement="left" title="Agregar una evento al sistema "><i class="fa fa-plus"></i></a></li>
                <li><a class="btn-floating yellow" data-animation="false" ng-click="editar()" data-tooltip=tooltip data-placement="left" title="Editar una evento del sistema"><i class="fa fa-pencil"></i></a></li>
                <li><a class="btn-floating red" data-animation="false" ng-click="eliminar()" data-tooltip=tooltip data-placement="left" title="Eliminar una evento del sistema"><i class="fa fa-trash-o"></i></a></li>

            </ul>
        </div>
        @Html.Action("ModalDelete", "Home", new { v = true })
        @Html.Action("CreateEventos", "CMS")
    </div>

</ng-controller>
  

      
    



        <script>
            app.controller('CmsNoticiaController', ['$scope', '$http', "$window", 'textAngularManager', function wysiwygeditor($scope, $http, $window, textAngularManager) {
                $scope.fechainicio = null;
                $scope.fechafin = null;


                $('.datepicker').pickadate({
                    weekdaysShort: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    showMonthsShort: true
                });
                var table1 = $('#table1').DataTable({
                    select: true,
                    "processing": true,
                    "serverSide": true,
                    "orderMulti": false,
                    "ajax": {
                        "url": "../CMS/searchEventos",
                        "type": "POST",
                        "dataType": "JSON"

                    },
                    "columns": [
                        { "data": "Idpost", "name": "Idpost", "visible": false },
                          { "data": "Titulo", "name": "Titulo" },
                          { "data": "Contenido", "name": "Contenido" },
                        {
                            "data": "FechaHora", "name": "FechaHora", "render": function (data) {
                                var date = new Date(parseInt(data.substr(6)));
                                return date.getDate() + "/" + (date.getMonth()+1) + "/" + date.getFullYear();
                                // return data;
                            }},
                        {
                            "data": "fechainicio", "name": "fechainicio", "render": function (data) {
                                var date = new Date(parseInt(data.substr(6)));
                                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                               // return data;
                            }
                        },
                        {
                            "data": "fechafin", "name": "fechafin", "render": function (data) {
                                var date = new Date(parseInt(data.substr(6)));
                                return date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                            }}

                    ],

                    "language": {
                        "lengthMenu": "Mostrando _MENU_ Entradas por pagina",
                        "zeroRecords": "Lo sentimos, no se encuentran concidencias",
                        "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                        "infoEmpty": "No hay entradas Disponibles",
                        "infoFiltered": "(filtrar por _MAX_ total entradas)",
                        "search": "Buscar",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente"
                        }, "select": {
                            rows: " "
                        }
                    }

                });

                $('#table1 tbody').on('click', 'tr', function () {
                    var idt = table1.row(this).index();
                    var t = table1.cell(idt, 0).data();
                    $scope.evento = t;
                    var date1 = new Date(parseInt(table1.cell(idt, 4).data().substr(6)));                   
                    $scope.fechainicio = date1;
                    var date2 = new Date(parseInt(table1.cell(idt, 5).data().substr(6)));
                    $scope.fechafin = date2;                
                    $scope.titulo = table1.cell(idt, 1).data();
                    $scope.contenido = table1.cell(idt, 2).data();

          

                  

                    


                });

                $scope.nuevo = function () {

                    if ($scope.evento != 0) {
                        $scope.clear();

                    }
                    $('#modaleventos').modal({
                        show: true
                    })

                }

                $scope.editar = function () {

                    if ($scope.evento != 0) {
                        $scope.edit = true;
                        $('#modaleventos').modal({
                            show: true
                        })

                    }


                }


                $scope.guardar = function () {
                    if ($scope.fechainicio != null) {
                        $scope.date1 = $scope.fechainicio.getDate() + "-" + ($scope.fechainicio.getMonth()+1) + "-" + $scope.fechainicio.getFullYear()
                    }
                    if ($scope.fechainicio != null) {
                        $scope.date2 = $scope.fechafin.getDate() + "-" + ($scope.fechafin.getMonth() + 1) + "-" + $scope.fechafin.getFullYear()
                    }

                    if ($scope.edit == true) {
                        $scope.evento = $scope.evento + 0;
                        $scope.contenido = $scope.contenido + "";
                        $scope.titulo = $scope.titulo + "";
                      

                        if ($scope.evento > 0 && $scope.contenido.length > 4 && $scope.titulo.length > 4 && $scope.fechainicio != null && $scope.fechafin != null) {


                            $http({
                                url: "../CMS/Editarevento",
                                method: "POST",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                data: $.param({ "Idpost": $scope.evento, "Titulo": $scope.titulo, "Contenido": $scope.contenido, "Tipo": 2, "FechaHoraInicioEvento": $scope.date1, "FechaHoraFinEvento": $scope.date2 })
                            }).then(function (result) {
                                if (result.data.Message == 'S') {
                                    $('#modaleventos').modal('hide');
                                } else {
                                    $scope.message = "Error: En la transaccion"
                                }

                            });
                        }

                    } else {
                     

                        if ($scope.contenido.length > 4 && $scope.titulo.length > 4 && $scope.fechainicio != null && $scope.fechafin != null) {

                            $http({
                                url: "../CMS/agregarevento",
                                method: "POST",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                data: $.param({ "Titulo": $scope.titulo, "Contenido": $scope.contenido, "Tipo": 2,"FechaHoraInicioEvento": $scope.date1, "FechaHoraFinEvento": $scope.date2  })
                            }).then(function (result) {
                                if (result.data.message == 'exito') {
                                    $('#modaleventos').modal('hide');
                                } else {
                                    $scope.message = "Error: En la transaccion"
                                }

                            });





                        } else {
                            $scope.message = "Error: Son requeridos todos los campos";
                        }
                    }


                };


                $scope.eliminar = function () {
                    if ($scope.evento != 0) {


                        $('#modaldelete').modal({
                            show: true
                        })
                    }
                };

                $scope.delete = function () {
                    $http({
                        url: "../CMS/EliminarNoticia",
                        method: "POST",
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        data: $.param({ "id": $scope.evento })
                    }).then(function (result) {
                        if (result.data.Message == "S") {
                            $('#modaldelete').modal('hide');

                        }

                    });
                }


                $scope.clear = function () {
                    $scope.message = "";
                    $scope.evento = 0;
                    $scope.titulo = "";
                    $scope.contenido = "";
                    $scope.fechainicio = null;
                    $scope.fechafin = null;
                    $scope.titulo = "";
                    $scope.edit = false;
                    $('#table1').DataTable().ajax.reload();
                 
                }

                $scope.clear();

                $('#modaleventos').on('hidden.bs.modal', function (e) {
                    $scope.clear();
                });

                $('#modaldelete').on('hidden.bs.modal', function (e) {
                    $scope.clear();
                });

            }]);
        </script>
