﻿@{
    Layout = "~/Views/Shared/_Layout_A.cshtml";
    ViewBag.Title = "CMS - Imagenes PIENSA";
}


<ng-controller ng-controller="CmsimagenController" ng-clock>
    <div class="card card-block rounded smooth-scroll">

        <h4 class="h4-responsive indigo-text font-weight-bold">Imagenes del sitio </h4>        <hr />


        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="blue darken-4  white-text">
                    <tr>
                        <th>
                            id
                        </th>

                        <th>
                            Archivo
                        </th>
                        <th>
                           Imagen
                        </th>
                        <th>
                           URL
                        </th>
                        <th>
                            Fecha y Hora
                        </th>


                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large blue darken-4 ">
                <i class="fa fa-cogs"></i>
            </a>

            <ul>
                <li><a class="btn-floating green" data-animation="false" ng-click="nuevo()" data-tooltip=tooltip data-placement="left" title="Agregar una nueva imagen al sistema "><i class="fa fa-plus"></i></a></li>
               <li><a class="btn-floating red" data-animation="false" ng-click="eliminar()" data-tooltip=tooltip data-placement="left" title="Eliminar una imagen del sistema"><i class="fa fa-trash-o"></i></a></li>

            </ul>
        </div>
        @Html.Action("ModalDelete", "Home", new { v = true })
        @Html.Action("CreateFotos", "CMS")
    </div>

</ng-controller>
<script>
    app.controller('CmsimagenController', ['$scope', 'Upload', '$http', "$window", function ($scope, Upload, $http, $window) {

        var table1 = $('#table1').DataTable({
            select: true,
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "ajax": {
                "url": "../CMS/searchImagenes",
                "type": "POST",
                "dataType": "JSON"

            },
            "columns": [
                { "data": "IdArchivo", "name": "IdArchivo", "visible": false },
                  { "data": "Nombre", "name": "Nombre" },
                  {
                      "data": "url", "name": "url", render: function (data) {
                          return '<img src="'+data+'" max-height="200"/>'
                      }
                  },
                   {
                       "data": "Nombre", "name": "Nombre", render: function (data) {
                           return '<a href="../img/uploads/'+data+'">http://piensa.uni.edu.ni/img/uploads/'+data+'</a>'
                       }
                   },

                    { "data": "FechaHoraCreacion", "name": "FechaHoraCreacion" }

            ],

            "language": {
                "lengthMenu": "Mostrando _MENU_ Entradas por pagina",
                "zeroRecords": "Lo sentimos, no se encuentran concidencias",
                "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                "infoEmpty": "No hay entradas Disponibles",
                "infoFiltered": "(filtrar por _MAX_ total entradas)",
                "search": "Buscar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }, "select": {
                    rows: " "
                }
            }

        });

        $('#table1 tbody').on('click', 'tr', function () {
            var idt = table1.row(this).index();
            var t = table1.cell(idt, 0).data();
            $scope.photo = t;
            $scope.nombre = table1.cell(idt, 1).data();





        });

        $scope.nuevo = function () {

            if ($scope.photo != 0) {
                $scope.clear();

            }
            $('#modalfotos').modal({
                show: true
            })

        }

          
        $scope.guardar = function () {

            console.log($scope.fit);
            //getBase64($scope.picFile);

            if ($scope.picFile.size > 4) {
                   
                $scope.upload($scope.picFile);

            } else {
                $scope.message = "El archivo debe ser menor de 3MB";
            }
            
           
          
                    


        };
        $scope.upload = function (file) {
            Upload.upload({
                url: '../CMS/upphoto', 
                method: 'POST',
                data: {
                    photo: file
                }
            }).then(function (resp) {
                if (resp.data.Message == "S") {
                    $('#modalfotos').modal('hide');

                }

            })
        };


        $scope.eliminar = function () {
            if ($scope.photo != 0) {


                $('#modaldelete').modal({
                    show: true
                })
            }
        };

        $scope.delete = function () {
            $http({
                url: "../CMS/EliminarPhoto",
                method: "POST",
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                data: $.param({ "id": $scope.photo })
            }).then(function (result) {
                if (result.data.Message == "S") {
                    $('#modaldelete').modal('hide');

                }

            });
        }


        $scope.clear = function () {
            $scope.message = "";
            $scope.photo = 0;
            $scope.nombre = "";
            $scope.picFile = null;
            $('#table1').DataTable().ajax.reload();

        }

        $scope.clear();

        $('#modalfotos').on('hidden.bs.modal', function (e) {
            $scope.clear();
        });

        $('#modaldelete').on('hidden.bs.modal', function (e) {
            $scope.clear();
        });

        $scope.submit = function() {
            if ($scope.form.file.$valid && $scope.file) {
                $scope.upload($scope.file);
            }
        };

        $scope.onFileSelect = function ($file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                
                $scope.encoded_file = btoa(e.target.result);
                console.log($scope.encoded_file);
            };
            reader.readAsBinaryString($file);
        };
 
        
        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                if ($scope.picFile.size > 4) {
                   
                    $http({
                        url: "../CMS/upphoto",
                        method: "POST",
                        headers: { 'Content-Type': $scope.picFile.type },
                        data: $.param({ "photo": reader.result})
                    }).then(function (result) {
                        if (result.data.Message == 'S') {
                            $('#modaldoc').modal('hide');
                        } else {
                            $scope.message = "Error: En la transaccion"
                        }

                    });





                } else {
                    $scope.message = "Error: Son requeridos todos los campos";
                }
                
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }


                    
        

       
                
            }]);
</script>
