﻿@{
    Layout = "~/Views/Shared/_Layout_A.cshtml";
    ViewBag.Title = "CMS - Inicio";
}

<ng-controller ng-controller="cmscontroller" ng-clock>
    <div class="container">
       
        <div class="rounded smooth-scroll my-5 px-5" style="min-height:600px">
            <h3 class="h3-responsive blue-text my-2">Contenido del sitio</h3>
            <hr class="blue" />
            <div class="row my-2">
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2 " id="border-round" onclick='window.location.href = "../cms/documentos";'>
                    <img src="~/img/vec/documentos.png" class=" card w-100 wow zoomIn" />
                </div>
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../cms/eventos";'>
                    <img src="~/img/vec/eventos.png" class=" card w-100 wow zoomIn" />
                </div>
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../cms/imagenes";'>
                    <img src="~/img/vec/imagenes.png" class=" card w-100 wow zoomIn" />
                </div>
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../cms/menus";'>
                    <img src="~/img/vec/menu.png" class=" card w-100 wow zoomIn" />
                </div>
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../cms/noticias";'>
                    <img src="~/img/vec/noticias.png" class=" card w-100 wow zoomIn" />
                </div>
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../cms/paginas";'>
                    <img src="~/img/vec/paginas.png" class=" card w-100 wow zoomIn" />
                </div>
            </div>

            <h3 class="h3-responsive blue-text my-2">Academía</h3>
            <hr class="blue" />
            <div class="row">
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../academia/Listacursoslibres";'>
                    <img src="~/img/vec/posgrados.png" class=" card w-100 wow zoomIn" />
                </div>
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../academia/Listadiplomados";'>
                    <img src="~/img/vec/diplomados.png" class=" card w-100 wow zoomIn" />
                </div>
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../academia/Listaespecialidades";'>
                    <img src="~/img/vec/especialidades.png" class=" card w-100 wow zoomIn" />
                </div>
                <div class="  col-sm-12 col-md-4 h-100 waves-effect waves-light rgba-white-slight my-2" id="border-round" onclick='window.location.href = "../academia/prematriculas";'>
                    <img src="~/img/vec/maestrias.png" class=" card w-100 wow zoomIn" />
                </div>
            </div>

        </div>
    </div>
 
</ng-controller>
  
<style>
    #border-round {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
        min-height: 100px;
        
    }

</style>

      
    

<script>
    app.controller('cmscontroller', ['$scope', "$window", function ($scope, $window) {


    }]);
    </script>