﻿@{
    Layout = "~/Views/Shared/_Layout_A.cshtml";
    ViewBag.Title = "CMS - Menu PIENSA";
}


<ng-controller ng-controller="CmsMenuController" ng-clock>
    <div class="card card-block rounded smooth-scroll">

        <h4 class="h4-responsive indigo-text font-weight-bold">Menu del sitio </h4>        <hr />


        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="blue darken-4  white-text">
                    <tr>

                        <th>
                            id
                        </th>
                        <th>
                           Menu
                        </th>
                        <th>
                            id
                        </th>
                        <th>
                           Menu Padre
                        </th>

                        <th>
                            Orden
                        </th>
                        <th>
                           Icono
                        </th>
                        <th>
                            id
                        </th>

                        <th>
                         Pagina
                        </th>
                      
                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large blue darken-4 ">
                <i class="fa fa-cogs"></i>
            </a>

            <ul>

                <li><a class="btn-floating green" data-an tion="false" ng-click="nuevo()" data-tooltip=tooltip data-placement="left" title="Agregar Menu al sistema "><i class="fa fa-plus"></i></a></li>
                <li><a class="btn-floating yellow" data-animation="false" ng-click="editar()" data-tooltip=tooltip data-placement="left" title="Editar menu del sistema"><i class="fa fa-pencil"></i></a></li>
                <li><a class="btn-floating red" data-animation="false" ng-click="eliminar()" data-tooltip=tooltip data-placement="left" title="Eliminar un menu del sistema" ><i class="fa fa-trash-o"></i></a></li>

            </ul>
        </div>

        @Html.Action("CreateMenu", "CMS")
        @Html.Action("ModalDelete", "Home", new { v = true })
    </div>

</ng-controller>
  

      
    



        <script>
            app.controller('CmsMenuController', ['$scope', '$http', "$window", 'textAngularManager', function wysiwygeditor($scope, $http, $window, textAngularManager) {
                $scope.idmenupadre = null;
                $scope.idpagina = null;
                var table1 = $('#table1').DataTable({
                    select: true,
                    "processing": true,
                    "serverSide": true,
                    "orderMulti": false,
                    "ajax": {
                        "url": "../CMS/searchMenu",
                        "type": "POST",
                        "dataType": "JSON"

                    },
                    "columns": [
                        { "data": "IdMenu", "name": "IdMenu", "visible": false },
                        {
                            "data": "Menu", "name": "Menu"
                        },
                        { "data": "IdMenuPadre", "name": "IdMenuPadre", "visible": false },
                        {
                            "data": "MenuPadre", "name": "MenuPadre"
                            ,
                            render: function (data) {

                                if (data == null) {
                                    return "--"

                                } else {
                                    return data;
                                }


                            }
                        },
                        { "data": "Orden", "name": "Orden" },
                        {
                            "data": "Icono", "name": "Icono", render: function (data) {
                                if (data == null) {
                                    return "No tiene";
                                } else {

                                    return "<i class='fa " + data + "'></i>";
                                }


                            }
                        },
                        { "data": "IdPagina", "name": "IdPagina", "visible": false },
                        {
                            "data": "Pagina", "name": "Pagina"
                            ,
                            render: function (data) {

                                if (data == null) {
                                    return "--"

                                } else {
                                    return data;
                                }


                            }

                        }




                    ],

                    "language": {
                        "lengthMenu": "Mostrando _MENU_ Entradas por pagina",
                        "zeroRecords": "Lo sentimos, no se encuentran concidencias",
                        "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                        "infoEmpty": "No hay entradas Disponibles",
                        "infoFiltered": "(filtrar por _MAX_ total entradas)",
                        "search": "Buscar",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente"
                        }, "select": {
                            rows: " "
                        }
                    }

                });

                $('#table1 tbody').on('click', 'tr', function () {
                    var idt = table1.row(this).index();
                    $scope.idmenu = table1.cell(idt, 0).data();
                    $scope.menu = table1.cell(idt, 1).data();
                    $scope.idmenupadre = table1.cell(idt, 2).data() + "";
                    $scope.menupadre = table1.cell(idt, 3).data();
                    $scope.orden = table1.cell(idt, 4).data();
                    $scope.icono = table1.cell(idt, 5).data();
                    $scope.idpagina = table1.cell(idt, 6).data() + "";
                    $scope.pagina = table1.cell(idt, 7).data();
                  
                });


                $scope.menupadres = function () {

                    $http({
                        url: "../CMS/menuspadres",
                        method: "POST",
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                    }).then(function (result) {
                       
                        $scope.menuspadres = result.data.data;

                    });
                
                }

                $scope.paginas = function () {

                    $http({
                        url: "../CMS/listapaginas",
                        method: "POST",
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                    }).then(function (result) {

                        $scope.listapaginas = result.data.data;

                    });

                }

                $scope.menupadres();
                $scope.paginas();


                $scope.editar = function () {

                    if ($scope.idmenu != 0) {
                        $scope.edit = true;
                        $('#modalmenu').modal({
                            show: true
                        })

                    }


                }


                $scope.guardar = function () {

                    $scope.idmenu = $scope.idmenu +  0;
                    $scope.menu = $scope.menu + "";
                    $scope.idmenupadre = $scope.idmenupadre + "";
                    $scope.menupadre = $scope.menupadre + "";
                    $scope.orden = $scope.orden + "";
                    $scope.icono = $scope.icono + "";
                    $scope.idpagina = $scope.idpagina + "";
                    $scope.pagina = $scope.pagina + "";
                    if ($scope.edit == true) {
                      


                        if ($scope.idmenu > 0 && $scope.menu.length > 0 && $scope.orden >0 ) {


                            $http({
                                url: "../CMS/EditarMenu",
                                method: "POST",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                data: $.param({
                                    IdMenu: $scope.idmenu, Menu1: $scope.menu, MenuPadre: $scope.idmenupadre, Orden: $scope.orden, Icono: $scope.icono, IdPagina: $scope.idpagina
                                })
                            }).then(function (result) {
                                if (result.data.Message == 'S') {
                                    $('#modalmenu').modal('hide');
                                } else {
                                    $scope.message = "Error: En la transaccion"
                                }

                            });
                        }
                    } else {

                        if ($scope.menu.length > 0 && $scope.orden > 0 ) {

                          
                            $http({
                                url: "../CMS/agregarMenu",
                                method: "POST",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                data: $.param({
                                   Menu1: $scope.menu, MenuPadre: $scope.idmenupadre, Orden: $scope.orden, Icono: $scope.icono, IdPagina: $scope.idpagina
                                })
                            }).then(function (result) {
                                if (result.data.message == 'S') {
                                    $('#modalmenu').modal('hide');
                                } else {
                                    $scope.message = "Error: En la transaccion"
                                }

                            });
                        }
                    }

                   


                };


         
                $scope.clear = function () {
                    $scope.idmenu = 0;
                    $scope.menu =  "";
                    $scope.idmenupadre =  "null";
                    $scope.menupadre = "";
                    $scope.orden = "";
                    $scope.icono =  "";
                    $scope.idpagina = "null";
                    $scope.pagina =  "";
                    $scope.edit = false;
                    $scope.message = "";

                    $scope.menupadres();
                    $scope.paginas();
                    $('#table1').DataTable().ajax.reload();
                 
                }

                $scope.nuevo = function () {

                    if ($scope.idmenu != 0) {
                        $scope.clear();

                    }
                    $('#modalmenu').modal({
                        show: true
                    })

                }


                $scope.clear();

                $('#modalmenu').on('hidden.bs.modal', function (e) {
                    $scope.clear();
                });

                $('#modaldelete').on('hidden.bs.modal', function (e) {
                    $scope.clear();
                });

                $scope.eliminar = function () {
                    if ($scope.idmenu > 0) {


                        $('#modaldelete').modal({
                            show: true
                        })
                    }
                };

                $scope.delete = function () {
                    $http({
                        url: "../CMS/Eliminarmenu",
                        method: "POST",
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        data: $.param({ "id": $scope.idmenu })
                    }).then(function (result) {
                        if (result.data.Message == "S") {
                            $('#modaldelete').modal('hide');

                        }

                    });
                }


            }]);
        </script>
