﻿@{
    Layout = "~/Views/Shared/_Layout_A.cshtml";
    ViewBag.Title = "CMS - Noticias PIENSA";
}


<ng-controller ng-controller="CmsNoticiaController" ng-clock>
    <div class="card card-block rounded smooth-scroll">

        <h4 class="h4-responsive indigo-text font-weight-bold">Noticias del sitio </h4>        <hr />


        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="blue darken-4  white-text">
                    <tr>
                        <th>
                            id
                        </th>

                        <th>
                            Titulo
                        </th>
                        <th>
                            Contenido
                        </th>
                        <th>
                            Imagen
                        </th>
                        <th>
                            Fecha y Hora
                        </th>


                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large blue darken-4 ">
                <i class="fa fa-cogs"></i>
            </a>

            <ul>
                <li><a class="btn-floating green" data-an   tion="false" ng-click="nuevo()" data-tooltip=tooltip data-placement="left" title="Agregar una noticia al sistema "><i class="fa fa-plus"></i></a></li>
                <li><a class="btn-floating yellow" data-animation="false" ng-click="editar()" data-tooltip=tooltip data-placement="left" title="Editar una noticia del sistema"><i class="fa fa-pencil"></i></a></li>
                <li><a class="btn-floating red" data-animation="false" ng-click="eliminar()" data-tooltip=tooltip data-placement="left" title="Eliminar una noticia del sistema"><i class="fa fa-trash-o"></i></a></li>

            </ul>
        </div>
        @Html.Action("ModalDelete", "Home", new { v = true })
        @Html.Action("CreateNoticias", "CMS")
    </div>

</ng-controller>
  

      
    



        <script>
            app.controller('CmsNoticiaController', ['$scope', '$http', "$window", 'textAngularManager', function wysiwygeditor($scope, $http, $window, textAngularManager) {
                $scope.imagen = "";
                var table1 = $('#table1').DataTable({
                    select: true,
                    "processing": true,
                    "serverSide": true,
                    "orderMulti": false,
                    "ajax": {
                        "url": "../CMS/searchNoticias",
                        "type": "POST",
                        "dataType": "JSON"

                    },
                    "columns": [
                        { "data": "Idpost", "name": "Idpost", "visible": false },
                          { "data": "Titulo", "name": "Titulo" },
                        { "data": "Contenido", "name": "Contenido" },
                        {
                            "data": "Imagen", "name": "Imagen", "render": 
                                function(data) {
                                    
                                    return  '<a href="' + data + '">' + data + '</a>';
                                // return data;
                            }
                        },
                            { "data": "FechaHora", "name": "FechaHora" }

                    ],

                    "language": {
                        "lengthMenu": "Mostrando _MENU_ Entradas por pagina",
                        "zeroRecords": "Lo sentimos, no se encuentran concidencias",
                        "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                        "infoEmpty": "No hay entradas Disponibles",
                        "infoFiltered": "(filtrar por _MAX_ total entradas)",
                        "search": "Buscar",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente"
                        }, "select": {
                            rows: " "
                        }
                    }

                });

                $('#table1 tbody').on('click', 'tr', function () {
                    var idt = table1.row(this).index();
                    var t = table1.cell(idt, 0).data();
                    $scope.noticia = t;
                    $scope.titulo = table1.cell(idt, 1).data();
                    $scope.contenido = table1.cell(idt, 2).data();
                    $scope.imagen = table1.cell(idt, 3).data();

                  

                    


                });

                $scope.nuevo = function () {

                    if ($scope.noticia != 0) {
                        $scope.clear();

                    }
                    $('#modalnoticias').modal({
                        show: true
                    })

                }

                $scope.editar = function () {

                    if ($scope.noticia != 0) {
                        $scope.edit = true;
                        $('#modalnoticias').modal({
                            show: true
                        })

                    }


                }


                $scope.guardar = function () {


                    if ($scope.edit == true) {
                        $scope.noticia = $scope.noticia + 0;
                        $scope.contenido = $scope.contenido + "";
                        $scope.titulo = $scope.titulo + "";

                        if ($scope.noticia > 0 && $scope.contenido.length > 4 && $scope.titulo.length > 4 && $scope.imagen.length>4) {


                            $http({
                                url: "../CMS/Editarnoticia",
                                method: "POST",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                data: $.param({ "Idpost": $scope.noticia, "Titulo": $scope.titulo, "Contenido": $scope.contenido, "Tipo": 1, "Imagen": $scope.imagen })
                            }).then(function (result) {
                                if (result.data.Message == 'S') {
                                    $('#modalnoticias').modal('hide');
                                } else {
                                    $scope.message = "Error: En la transaccion"
                                }

                            });
                        }

                    } else {
                        if ($scope.contenido.length > 4 && $scope.titulo.length > 4 && $scope.imagen.length > 4) {

                            $http({
                                url: "../CMS/agregarnoticia",
                                method: "POST",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                data: $.param({ "Titulo": $scope.titulo, "Contenido": $scope.contenido, "Tipo": 1, "Imagen": $scope.imagen})
                            }).then(function (result) {
                                if (result.data.message == 'exito') {
                                    $('#modalnoticias').modal('hide');
                                } else {
                                    $scope.message = "Error: En la transaccion"
                                }

                            });





                        } else {
                            $scope.message = "Error: Son requeridos todos los campos";
                        }
                    }


                };


                $scope.eliminar = function () {
                    if ($scope.noticia != 0) {


                        $('#modaldelete').modal({
                            show: true
                        })
                    }
                };

                $scope.delete = function () {
                    $http({
                        url: "../CMS/EliminarNoticia",
                        method: "POST",
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        data: $.param({ "id": $scope.noticia })
                    }).then(function (result) {
                        if (result.data.Message == "S") {
                            $('#modaldelete').modal('hide');

                        }

                    });
                }


                $scope.clear = function () {
                    $scope.message = "";
                    $scope.noticia = 0;
                    $scope.titulo = "";
                    $scope.contenido = "";
                    $scope.imagen = "";
                    $scope.edit = false;
                    $('#table1').DataTable().ajax.reload();
                 
                }

                $scope.clear();

                $('#modalnoticias').on('hidden.bs.modal', function (e) {
                    $scope.clear();
                });

                $('#modaldelete').on('hidden.bs.modal', function (e) {
                    $scope.clear();
                });

            }]);
        </script>
