﻿@{
    Layout = "~/Views/Shared/_Layout_A.cshtml";
    ViewBag.Title = "CMS - Paginas PIENSA";
}


<ng-controller ng-controller="CmsPaginaController" ng-clock>
    <div class="card card-block rounded smooth-scroll">

        <h4 class="h4-responsive indigo-text font-weight-bold">Paginas del sitio </h4>        <hr />


        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="blue darken-4  white-text">
                    <tr>

                        <th>
                            id
                        </th>
                        <th>
                            id
                        </th>
                        <th>
                            id
                        </th>
                        <th>
                            Contenido
                        </th>

                        <th>
                            Nombre
                        </th>

                        <th>
                            URL
                        </th>
                        <th>
                            Sitio Dinamico
                        </th>




                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large blue darken-4 ">
                <i class="fa fa-cogs"></i>
            </a>

            <ul>

                <li><a class="btn-floating green" data-an tion="false" ng-click="nuevo()" data-tooltip=tooltip data-placement="left" title="Agregar una pagina al sistema "><i class="fa fa-plus"></i></a></li>
                <li><a class="btn-floating yellow" data-animation="false" ng-click="editar()" data-tooltip=tooltip data-placement="left" title="Editar una evento del sistema"><i class="fa fa-pencil"></i></a></li>
                <li><a class="btn-floating red" data-animation="false" ng-click="eliminar()" data-tooltip=tooltip data-placement="left" title="Eliminar una pagina del sistema" ng-if="editable"><i class="fa fa-trash-o"></i></a></li>

            </ul>
        </div>

        @Html.Action("CreatePaginas", "CMS")
        @Html.Action("ModalDelete", "Home", new { v = true })
    </div>

</ng-controller>
  

      
    



        <script>
            app.controller('CmsPaginaController', ['$scope', '$http', "$window", 'textAngularManager', function wysiwygeditor($scope, $http, $window, textAngularManager) {
               
                var table1 = $('#table1').DataTable({
                    select: true,
                    "processing": true,
                    "serverSide": true,
                    "orderMulti": false,
                    "ajax": {
                        "url": "../CMS/searchPaginas",
                        "type": "POST",
                        "dataType": "JSON"

                    },
                    "columns": [
                        { "data": "idPagina", "name": "idPagina", "visible": false },
                        { "data": "Vista", "name": "Vista", "visible": false },
                        { "data": "Controlador", "name": "Controlador", "visible": false },
                           { "data": "Contenido", "name": "Contenido", "visible": false },
                          { "data": "Nombre", "name": "Nombre" },
                       
                           {
                               "data": "url", "name": "url", render: function (data) {
                                   return '<a href="http://piensa.uni.edu.ni/' + data + '">http://piensa.uni.edu.ni/' + data + '</a>'
                               }
                        },
                        {
                            "data": "Editable", "name": "Editable", render: function (data) {
                                if (data) {
                                    return "SI";
                                } else {
                                    return "NO";
                                }
                                
                            }
                        }


                    ],

                    "language": {
                        "lengthMenu": "Mostrando _MENU_ Entradas por pagina",
                        "zeroRecords": "Lo sentimos, no se encuentran concidencias",
                        "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                        "infoEmpty": "No hay entradas Disponibles",
                        "infoFiltered": "(filtrar por _MAX_ total entradas)",
                        "search": "Buscar",
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente"
                        }, "select": {
                            rows: " "
                        }
                    }

                });

                $('#table1 tbody').on('click', 'tr', function () {
                    var idt = table1.row(this).index();
                    var t = table1.cell(idt, 0).data();
                    $scope.pagina = t;
                    $scope.vista = table1.cell(idt, 1).data();
                    $scope.controlador = table1.cell(idt, 2).data();
                    $scope.name = table1.cell(idt, 4).data();
                    $scope.contenido = table1.cell(idt, 3).data();
                    $scope.editable = table1.cell(idt, 6).data();


                  
                    


                   
                    


                });


                $scope.editar = function () {

                    if ($scope.pagina != 0) {
                        $scope.edit = true;
                        $('#modalpaginas').modal({
                            show: true
                        })

                    }


                }


                $scope.guardar = function () {

                    console.log($scope.contenido);
                    $scope.pagina = $scope.pagina + 0;
                    $scope.name = $scope.name + "";
                    $scope.contenido = $scope.contenido + "";
                    $scope.controlador = $scope.controlador + "";
                    $scope.vista = $scope.vista + "";

                    if ($scope.edit == true) {
                      


                        if ($scope.pagina > 0 && $scope.contenido.length > 0) {


                            $http({
                                url: "../CMS/Editarpagina",
                                method: "POST",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                data: $.param({ "idPagina": $scope.pagina, "Nombre": $scope.name, "Vista": $scope.vista, "Controlador": $scope.controlador, "Contenido": $scope.contenido, "VisibleCMS": $scope.editable })
                            }).then(function (result) {
                                if (result.data.Message == 'S') {
                                    $('#modalpaginas').modal('hide');
                                } else {
                                    $scope.message = "Error: En la transaccion"
                                }

                            });
                        }
                    } else {

                        if ($scope.name.length > 0 && $scope.contenido.length > 0 ) {

                          
                            $http({
                                url: "../CMS/agregarPagina",
                                method: "POST",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                data: $.param({ "Nombre": $scope.name,"Contenido": $scope.contenido })
                            }).then(function (result) {
                                if (result.data.Message == 'S') {
                                    $('#modalpaginas').modal('hide');
                                } else {
                                    $scope.message = "Error: En la transaccion"
                                }

                            });
                        }
                    }

                   


                };


         
                $scope.clear = function () {
                    $scope.message = "";
                    $scope.pagina = 0;
                    $scope.name = "";
                    $scope.contenido = "";
                    $scope.edit = false;
                    
                    $('#table1').DataTable().ajax.reload();
                 
                }

                $scope.nuevo = function () {
               
                    if ($scope.pagina != 0) {
                        $scope.clear();

                    }
                    $('#modalpaginas').modal({
                        show: true
                    })

                }


                $scope.clear();

                $('#modalpaginas').on('hidden.bs.modal', function (e) {
                    $scope.clear();
                });

                $scope.eliminar = function () {
                    if ($scope.pagina != 0) {


                        $('#modaldelete').modal({
                            show: true
                        })
                    }
                };

                $scope.delete = function () {
                    $http({
                        url: "../CMS/EliminarPagina",
                        method: "POST",
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        data: $.param({ "id": $scope.pagina })
                    }).then(function (result) {
                        if (result.data.Message == "S") {
                            $('#modaldelete').modal('hide');

                        }

                    });
                }


            }]);
        </script>
