﻿@model IEnumerable<PIENSAWEB.Models.Post>

@{
    ViewBag.Title = "Noticas - Publicacion";
}

@foreach (var item in Model)
{
    <br /><br />
   <h3 class="h3-responsive indigo-text darken-4">@item.Titulo</h3><br />

   @Html.Raw(HttpUtility.HtmlDecode(item.Contenido));
}
<br />


