﻿@model IEnumerable<PIENSAWEB.Models.Post>

<link href='../packages/core/main.css' rel='stylesheet' />
<link href='../packages/daygrid/main.css' rel='stylesheet' />
<script src='../packages/core/main.js'></script>
<script src='../packages/interaction/main.js'></script>
<script src='../packages/daygrid/main.js'></script>
<script src='../packages/core/locales/es.js'></script>
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>


<script>

document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendarevent');
    var d = new Date();


    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid'],
        locale: 'es',
        defaultDate:  '@DateTime.Now.Year-@(DateTime.Now.Month.ToString().Length > 1 ? DateTime.Now.Month.ToString() : "0" + DateTime.Now.Month.ToString())-@(DateTime.Now.Day.ToString().Length > 1 ? DateTime.Now.Day.ToString() : "0" + DateTime.Now.Day.ToString())',
        defaultView: 'dayGridMonth',
        eventRender: function (info) {
            $(info.el).tooltip({
                title: info.event.extendedProps.description,
                placement: 'top',
                trigger: 'hover',
                container: 'body'
            });
        },
        events: [
        
            @foreach (var item in Model) {
                if (item.Equals(Model.Last()))
                {
                    

                @Html.Raw(" {title: '"+item.Titulo+ "', description: '"+item.Titulo+"', start: '" + item.FechaHoraInicioEvento.Value.Year +"-"+ (item.FechaHoraInicioEvento.Value.Month.ToString().Length > 1 ? item.FechaHoraInicioEvento.Value.Month.ToString() : "0" + item.FechaHoraInicioEvento.Value.Month.ToString() )+ "-" + (item.FechaHoraInicioEvento.Value.Day.ToString().Length > 1 ? item.FechaHoraInicioEvento.Value.Day.ToString() : "0" + item.FechaHoraInicioEvento.Value.Day.ToString())+ "', end: '"+ @item.FechaHoraFinEvento.Value.Year + "-" + (item.FechaHoraFinEvento.Value.Month.ToString().Length > 1 ? item.FechaHoraFinEvento.Value.Month.ToString() : "0" + item.FechaHoraFinEvento.Value.Month.ToString()) + "-" + (item.FechaHoraFinEvento.Value.Day.ToString().Length > 1 ? item.FechaHoraFinEvento.Value.Day.ToString() : "0" + item.FechaHoraFinEvento.Value.Day.ToString()) + "', url: '../eventos/publicacion?id="+item.Idpost+"'}")

                }
                else{


                @Html.Raw(" {title: '"+item.Titulo + "', description: '" + item.Titulo + "', start: '" + item.FechaHoraInicioEvento.Value.Year +"-"+ (item.FechaHoraInicioEvento.Value.Month.ToString().Length > 1 ? item.FechaHoraInicioEvento.Value.Month.ToString() : "0" + item.FechaHoraInicioEvento.Value.Month.ToString() )+ "-" + (item.FechaHoraInicioEvento.Value.Day.ToString().Length > 1 ? item.FechaHoraInicioEvento.Value.Day.ToString() : "0" + item.FechaHoraInicioEvento.Value.Day.ToString())+ "', end: '"+ @item.FechaHoraFinEvento.Value.Year + "-" + (item.FechaHoraFinEvento.Value.Month.ToString().Length > 1 ? item.FechaHoraFinEvento.Value.Month.ToString() : "0" + item.FechaHoraFinEvento.Value.Month.ToString()) + "-" + (item.FechaHoraFinEvento.Value.Day.ToString().Length > 1 ? item.FechaHoraFinEvento.Value.Day.ToString() : "0" + item.FechaHoraFinEvento.Value.Day.ToString()) + "', url: '../eventos/publicacion?id=" + item.Idpost + "'},")

                }

                    }

      ]
    });

    calendar.render();

    $(function () {
        

        $('[data-toggle="tooltip"]').tooltip();
    })
  });</script>
<style>


    
    #calendarevent {
        width: 100%;
        font-size: 0.6rem;
        margin-bottom: 30px;
    }
</style>

<div class="wow fadeInRight " data-wow-duration="0.5s">
    <h3 class="h3-responsive blue-text font-weight-bold">
        Eventos
    </h3>
    <hr class="blue" />
    <div id='calendarevent'></div>
</div>