﻿<!DOCTYPE html>
<html ng-app="api">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" href="https://uni.edu.ni/img/index/favicon.ico" type="image/x-icon">
    <title>Programa de Investigación, Estudios Nacionales y Servicios del Ambiente (PIENSA) </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="~/content/compiled.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />



</head>
<body class="light-green lighten-5">


    <!--END BANNER PIENSA-->
    <!-- /Start your project here-->
    <!-- SCRIPTS -->
    <!-- JQuery -->

    <script src="~/Scripts/compiled.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/archivoDirective.js"></script>
    <script src="~/Scripts/wow.js"></script>

    <script src='~/Scripts/ngMask.js'></script>
    <link rel='stylesheet' href='~/Scripts/textAngular.css'>
    <script src='~/Scripts/textAngular-rangy.min.js'></script>
    <script src='~/Scripts/textAngular-sanitize.min.js'></script>
    <script src='~/Scripts/textAngular.min.js'></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.select.min.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/Scripts/ng-file-upload-shim.min.js"></script>



    <script>
        var app = angular.module('api', ['ngArchivo', 'ngMask',  'textAngular', 'ngFileUpload']);
    </script>
    <script src="~/Scripts/script.js"></script>

    <nav class="navbar  navbar-toggleable-sm navbar-dark  blue darken-2">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">PIENSA</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../home">
                        Sitio Principal
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../cms">CMS</a>
                </li>


            </ul>
            <ul>
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        <a class="" type="submit"><button class="btn btn-sm btn-danger" type="submit" style="margin:auto;"> <i class="fa fa-user"></i> LogOut </button>  </a>
                    }
                }
                @*<li class="nav-item ">

                <a class="nav-link  " data-toggle="modal" data-target="#modal-login"><i class="fa fa-user"></i>  Ingresar</a>
            </li>*@
            </ul>
            <!-- Links -->

        </div>
        <!-- Collapsible content -->

    </nav>


    <div class="card white" style="min-height:600px">
        <div class="row">

            <div class="col-lg-12 col-sm-12">
                @RenderBody()
            </div>



        </div>


    </div>

    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year Copyright:
            <a href="https://www.nic.ni"> NIC.NI</a>  &  <a href="https://www.piensa.edu.ni">PIENSA</a>
        </div>
        <!-- Copyright -->

    </footer>











    @*<script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1740453649548555',
                    xfbml: true,
                    version: 'v2.8'
                });
                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>*@


    <!-- MODALES -->
    <!-- Modal Login -->
    <div class="modal fade modal-ext" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header blue darken-4 white-text text-center">

                    <button type="button" class="close white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="w-100"><i class="fa fa-user"></i> Ingresa</h3>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="fb-login-button text-center" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" id="form2" class="form-control">
                        <label for="form2">Tu Cuenta</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="form3" class="form-control">
                        <label for="form3">Tu Contraseña</label>
                    </div>
                    <div class="text-center">
                        <button class="btn blue darken-4 btn-lg">Ingresa</button>
                        <button class="btn blue darken-4 btn-lg ml-auto " data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-left">
                        <p>Ya eres Miembro? <a href="#">Registrate</a></p>
                        <p>Olvido su <a href="#">Contraseña?</a></p>
                    </div>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</body>




</html>
