﻿<!DOCTYPE html>
<html ng-app="api">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" href="https://uni.edu.ni/img/index/favicon.ico" type="image/x-icon">
    <title>Programa de Investigación, Estudios Nacionales y Servicios del Ambiente (PIENSA) </title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="~/content/compiled.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />



</head>
<body class="light-green lighten-5">


    @Html.Action("Menu", "Home", new { visible = true })
    <!--END BANNER PIENSA-->
    <!-- /Start your project here-->
    <!-- SCRIPTS -->
    <!-- JQuery -->

    <script src="~/Scripts/compiled.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/archivoDirective.js"></script>
    <script src='~/Scripts/ngMask.js'></script>


    <script>
        var app = angular.module('api', ['ngArchivo', 'ngMask']);
    </script>

    <script src="~/Scripts/script.js"></script>
    <script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '234c0f3b6f4fc0e76e4f6861ccd61a08a5c9b69c';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
    </script>

    <div class="card white">
        <div class="row mx-4">

            <div class="col-md-12 col-sm-12 mt-2">
                @RenderBody()
            </div>
          
        </div>
    </div>












    @Html.Action("Footer", "Home", new { visible = true })




    @*<script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1740453649548555',
                    xfbml: true,
                    version: 'v2.8'
                });
                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>*@


    <!-- MODALES -->
    <!-- Modal Login -->
    <div class="modal fade modal-ext" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header blue darken-4 white-text text-center">

                    <button type="button" class="close white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="w-100"><i class="fa fa-user"></i> Ingresa</h3>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <div class="fb-login-button text-center" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" id="form2" class="form-control">
                        <label for="form2">Tu Cuenta</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix"></i>
                        <input type="password" id="form3" class="form-control">
                        <label for="form3">Tu Contraseña</label>
                    </div>
                    <div class="text-center">
                        <button class="btn blue darken-4 btn-lg">Ingresa</button>
                        <button class="btn blue darken-4 btn-lg ml-auto " data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="options text-left">
                        <p>Ya eres Miembro? <a href="#">Registrate</a></p>
                        <p>Olvido su <a href="#">Contraseña?</a></p>
                    </div>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
</body>




</html>
