﻿

<footer class="page-footer  blue darken-4 center-on-small-only">



    @foreach (var item in Model)
    {

        @Html.Raw(HttpUtility.HtmlDecode(item.Contenido));
    }

    
    <!--/.Social buttons-->
    <!--Copyright-->
    <div class="footer-copyright ">

        <div class="container-fluid ">


            <a href="https://www.nic.ni">Copyright @DateTime.Now.Year Network Information Center(NIC.NI)  </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>

