﻿@using PIENSAWEB.Models
@model IEnumerable<PIENSAWEB.Models.Menu>

<style>
  @@media only screen and (max-width: 600px) {

        .show{
            height: @(Model.Where(w=>w.MenuPadre==null).Count()*38)px !important;
        }
    }
</style>

<div class="blue darken-4 ">


    <nav class="navbar  navbar-toggleable-sm navbar-dark  blue darken-2">

        
        <button class="navbar-toggler  navbar-toggler-right " type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Menu Navegacion">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </button>
        <div class="d-flex justify-content-center">

            <a class="navbar-brand hidden-lg-up " href="../home/index">
                <img src="~/img/vec/logo.png" class="wow fadeInDown" width="100">

            </a>

        </div>


        <div class="collapse  navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">


                @foreach (var item in Model.Where(w => w.MenuPadre == null))
                {

                    if (item.IdPagina != null)
                    {
                <li class="nav-item ">

                    @if (item.Pagina.Controlador == "null" && item.Pagina.Vista == "null")
                    {
                        <a class="nav-link" href="~/pagina/publicacion?name=@item.Pagina.Nombre"><i class="fa @item.Icono"></i> @item.Menu1</a>
                       
                    }
                    else
                    {
                        <a class="nav-link" href="~/@item.Pagina.Controlador/@item.Pagina.Vista"><i class="fa @item.Icono"></i> @item.Menu1</a>
                    }


                </li>

                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " aria-hidden="true" id="dropdownMenu@(item.IdMenu)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa @item.Icono"></i> @item.Menu1 </a>

                            <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu@(item.IdMenu)">
                                @foreach (var item2 in Model.Where(w => w.MenuPadre != null && w.MenuPadre == item.IdMenu))
                                {
                                    if (item2.Pagina.Controlador == "null" && item2.Pagina.Vista == "null")
                                    {
                                        <a class="dropdown-item wow fadeInLeft" data-wow-duration="0.6s" href="~/pagina/publicacion?name=@item2.Pagina.Nombre">@item2.Menu1</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item wow fadeInLeft" data-wow-duration="0.6s" href="~/@item2.Pagina.Controlador/@item2.Pagina.Vista">@item2.Menu1</a>
                                    }


                                }
                            </div>

                        </li>

                    }
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item green">
                        <a class="nav-link" href="../cms"><i class="fa fa-cogs"></i> CMS</a>
                    </li>


                }


            </ul>


                @if (User.Identity.IsAuthenticated) { 



                    using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                            <a class=""  type="submit"><button class="btn btn-sm btn-danger"  type="submit" style="margin:auto;"> <i class="fa fa-user"></i> LogOut </button>  </a>
                    }
                }
                @*<li class="nav-item ">

            <a class="nav-link  " data-toggle="modal" data-target="#modal-login"><i class="fa fa-user"></i>  Ingresar</a>
        </li>*@
            </ul>
        </div>



    </nav>


    <div class="row hidden-md-down bannermain">

        <div class="text-center col-lg-3  col-sm-12 ">
            <img src="~/img/vec/logo_u.png " class="img-fluid logouni text-center wow fadeInLeft">

        </div>

        <div class="text-center col-lg-6 text-white titlee col-sm-12">
            <h3 class="h3-responsive wow fadeInDown" data-wow-duration="1s">Universidad Nacional de Ingeniería </br> Programa de Investigación, Estudios Nacionales y Servicios del Ambiente</h3></br>

        </div>
        <div class="text-center col-lg-3  col-sm-12 ">
            <img src="~/img/vec/logo.png" class="img-fluid logopiensa wow fadeInRight">
        </div>

    </div>



</div>

