﻿


<div class="modal fade right" id="modaldelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-animation="false">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header blue darken-4 white-text rounded-top">
                <button type="button" class="close white-text" aria-hidden="true" onclick=" $('#modaldelete').modal('hide');">&times;</button>
                <h4 class="modal-title font-weight-bold">Eliminar </h4>
            </div>
            <div class="modal-body" id="delete" ng-open="">

                Desea Realmente Eliminar este registro de la Base de datos? {{nyannyan}}

            </div>
            <div class="modal-footer">

                <button class="btn blue darken-4 btn-sm font-weight-bold" ng-click="delete()"><i class="fa fa-trash prefix"></i> Eliminar</button><button class="btn blue darken-4 btn-sm font-weight-bold" onclick='$("#modaldelete").modal("hide");'><i class="fa fa-remove prefix"></i> Cancelar</button>

            </div>

        </div>
    </div>
</div>



