﻿@model PIENSAWEB.Models.Menu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_A.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAnulacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAnulacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisibleCMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisibleCMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menu2.Menu1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu2.Menu1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagina.Vista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagina.Vista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
