﻿@model PIENSAWEB.Models.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_A.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Menu1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAnulacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAnulacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisibleCMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisibleCMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menu2.Menu1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu2.Menu1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagina.Vista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagina.Vista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMenu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
