﻿@model IEnumerable<PIENSAWEB.Models.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_A.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Menu1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Orden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAnulacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Habilitar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisibleCMS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Menu2.Menu1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pagina.Vista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Menu1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAnulacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Habilitar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisibleCMS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Menu2.Menu1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pagina.Vista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMenu }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMenu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMenu })
        </td>
    </tr>
}

</table>
