﻿@model IEnumerable<PIENSAWEB.Models.Pagina>
@{
    ViewBag.Title = "Cursos de Posgrado";
    //Response.Redirect("../Academia/Preinscripcioncursos");
}
<style>
    #table1_filter{
        display: none;
    }
  #table1_length{
        display: none;
    }
  #table1_info{
        display: none;
    }
  #table1_paginate{
        display: none;
    }

   #table2_filter{
        display: none;
    }
  #table2_length{
        display: none;
    }
  #table2_info{
        display: none;
    }
  #table2_paginate{
        display: none;
    }
   #table3_filter{
        display: none;
    }
  #table3_length{
        display: none;
    }
  #table3_info{
        display: none;
    }
  #table3_paginate{
        display: none;
    }
</style>
<link rel="stylesheet" type="text/css" href="../Content/jquery.dataTables.min.css" />
<script src="../Scripts/jquery.dataTables.min.js"></script>





@foreach (var item in Model)
{   

    @Html.Raw(HttpUtility.HtmlDecode(item.Contenido));
}
<br />




<script>
    $(document).ready(function(){
        $('#table1').DataTable();
        $('#table2').DataTable();
        $('#table3').DataTable();
});
</script>