﻿
@{
    Layout = "~/Views/Shared/_Layout_A.cshtml";
    ViewBag.Title = "Preinscripciones de cursos libres";
}

<ng-controller ng-controller="Conpremac">

    <div class="card card-block rounded smooth-scroll container">
        <h4 class="h4-responsive indigo-text font-weight-bold">Preinscripciones de cursos libres </h4> <a class="btn btn-sm blue darken-4 col-3" ng-click="reportepre()">Imprimir preinscripciòn</a>




        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="light-blue white-text">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Curso<a></a><a></a><a></a><a></a><a></a><a></a><a></a>
                        </th>
                        <th>
                            Nombres<a></a>y<a></a>Apellidos
                        </th>
                        <th>
                            Cédula o DNI
                        </th>
                        <th>
                            Ciudad
                        </th>
                        <th>
                            Dirección<a></a>domiciliar<a></a><a></a><a></a><a></a><a></a>
                        </th>
                        <th>
                            Número<a></a>de<a></a>Casa
                        </th>
                        <th>
                            Número<a></a>de<a></a>Trabajo
                        </th>
                        <th>
                            Móvil
                        </th>
                        <th>
                            Compañía<a></a>telefónica
                        </th>
                        <th>
                            Correo<a></a>Electrónico<a></a>Trabajo
                        </th>
                        <th>
                            Correo<a></a>Electrónico<a></a>Personal
                        </th>
                        <th>
                           A<a></a>quien<a></a>llamar<a></a>Emergencia
                        </th>
                        <th>
                           Número Emergencia
                        </th>
                        <th>
                           Profesión 
                        </th>
                        <th>
                          Titulo
                        </th>
                        <th>
                            Puesto<a></a>de<a></a>trabajo  
                        </th>
                        <th>
                           Organización<a></a><a></a><a></a>
                        </th>
                        <th>
                            Dirección<a></a>del<a></a>trabajo<a></a><a></a><a></a>
                        </th>
                        <th>
                            Cursos<a></a>Futuros<a></a><a></a><a></a>
                        </th>
                        <th>
                           Fecha<a></a>y<a></a>Hora
                        </th>
                       



                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>



    </div>
</ng-controller>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/buttons.flash.min.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/buttons.print.min.js"></script>
<script>

    app.controller('Conpremac', function ($scope, $window,$http) {
        var table = $('#table1').DataTable({
            select: true,
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "ajax": {
                "url": "../Academia/searchPrematriculasc",
                "type": "POST",
                "dataType": "JSON"

            },
            "columns": [
                { "data": "IdPreinscripcion", "name": "IdPreinscripcion", visible: false },
                { "data": "Curso", "name": "Curso" },
                { "data": "NombresApellidos", "name": "NombresApellidos" },
                { "data": "Cedula", "name": "Cedula" },
                { "data": "Ciudad", "name": "Ciudad" },
                { "data": "DireccionDomiciliar", "name": "DireccionDomiciliar" },
                { "data": "TelefonoConvencional", "name": "TelefonoConvencional" },
                { "data": "TelefonoTrabajo", "name": "TelefonoTrabajo" },
                { "data": "Movil", "name": "Movil" },
                { "data": "Telefonia", "name": "Telefonia" },
                { "data": "EmailOficina", "name": "EmailOficina" },
                { "data": "EmailPersonal", "name": "EmailPersonal" },
                { "data": "Emergencia", "name": "Emergencia" },
                { "data": "NumeroEmergencia", "name": "NumeroEmergencia" },
                { "data": "Profesion", "name": "Profesion" },
                { "data": "Titulo", "name": "Titulo" },
                { "data": "PuestoTrabajo", "name": "PuestoTrabajo" },
                { "data": "Organizacion", "name": "Organizacion" },
                { "data": "DireccionTrabajo", "name": "DireccionTrabajo" },
                { "data": "FuturusCursos", "name": "FuturusCursos" },
                { "data": "FechaHora", "name": "FechaHora" },
               
            ],
            "dom": 'Bfrtip',
            "buttons": [
                'excelHtml5'
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ Entradas por página",
                "zeroRecords": "Lo sentimos, no se encuentran concidencias",
                "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                "infoEmpty": "No hay entradas Disponibles",
                "infoFiltered": "(filtrar por _MAX_ total entradas)",
                "search": "Buscar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }, "select": {
                    rows: " "
                }
            }

        });

        $scope.reportepre = function () {
            if ($scope.idpreinscripcion > 0) {
           
                $window.open("../Academia/PExportc?pre=" + $scope.idpreinscripcion, '_blank');
            }
        };

        $('#table1 tbody').on('click', 'td', function () {

            setTimeout(function () {
                var idt = table.row('.selected').index();
                $scope.idpreinscripcion = table.cell(idt, 0).data();



            }, 100);


        });
    });

    setTimeout(function () {
        $('button').addClass("btn btn-sm blue darken-4");
    }, 500);

</script>