﻿
@{
    ViewBag.Title = "Preguntas Frecuentes";
}

@foreach (var item in Model)
{

    @Html.Raw(HttpUtility.HtmlDecode(item.Contenido));
}
<div class="modal fade" id="modalContactForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Pregúntanos</h4>
                ×
            </div>
            <div class="modal-body mx-3">
                <div class="md-form ">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="nombresmaestria" class="form-control validate">
                    <label>Nombres y Apellidos</label>
                </div>
                <div class="md-form ">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="correomaestria" class="form-control validate">
                    <label>Correo Electrónico</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-pencil prefix grey-text"></i>
                    <input type="text" id="preguntamaestria" class="form-control validate">
                    <label>Pregunta:</label>
                </div>
            </div>
            

            <div class="modal-footer d-flex justify-content-center">
                
                <button id="btnpreguntas"
                        class="g-recaptcha btn btn-primary btn-rounded"
                        data-sitekey="6LfWcRYUAAAAAOfl0WuwIU_1WJ5abhKKxu-8v2rU"
                        data-callback="mandar">
                    Enviar <i class="fa fa-paper-plane-o ml-1"></i>
                </button>
                
                <div class="progress md-progress primary-color-dark " id="progresspregunta">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="text-center">
    <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">
        Realizar una pregunta sobre Maestrías
    </a>
</div>

<br />
<script src='https://www.google.com/recaptcha/api.js'></script>

<script>
    $("#progresspregunta").hide();

    function mandar(token) {
        $("#btnpreguntas").hide();
        $("#progresspregunta").show();
        if ($("#nombresmaestria").val().length > 0 && $("#correomaestria").val().length > 0 && $("#preguntamaestria").val().length > 0) {
            $.ajax({
                type: "POST",
                url: "../academia/preguntasend",
                data: {
                    NombresApellidos: $("#nombresmaestria").val(),
                    Correo: $("#correomaestria").val(),
                    Mensaje: $("#preguntamaestria").val(),
                    Token: token
                },
                success: function (response) {
                    $("#btnpreguntas").show();
                    $("#progresspregunta").hide();
                    grecaptcha.reset();
                    if (response.message === 'exito') {
                        toastr["success"]("¡Pregunta Enviada!");
                        
                      
                        $('#modalContactForm').modal('hide');
                    } else {
                       
                        toastr["error"]("¡Error: Ocurrio un problema en el envio. Intente de nuevo!");
                    }

                }
            });

        } else {
            toastr["warning"]("¡Rellene todos los campos!");
        }
    }
</script>