﻿@model PIENSAWEB.Models.PreinscripcionCursos
@{
    ViewBag.Title = "Preinscripción a cursos libres";
}
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
    #img {
        width: 200px;
        height: 200px;
    }
</style>
<style>
    #table1_filter{
        display: none;
    }
  #table1_length{
        display: none;
    }
  #table1_info{
        display: none;
    }
  #table1_paginate{
        display: none;
    }
 </style>
<div class="container" ng-controller="PremacController">
    <br />
    <h3 class="h3-responsive indigo-text">Preinscripción de Seminario</h3>
    <br />





    <section class="section mb-5 pt-5">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12">

                <!--Form with header-->
                <div class="">
                    <div class="row container">
                        <div class="col-lg-12">
                            <div class="card-body form">
                                <!--Header-->
                                @*<div class="formHeader mb-1 pt-3">
                                    <h4><i class="fa fa-asterisk "></i> Requisitos:</h4><br />
                                    -  Curso práctico para elaboración de tesis (ciclos anteriores MIA-MCA)  - Solo egresados de los programas de maestrías PIENSA<br />
                                    -  <a href="~/doc/DyGPA.pdf">Diseño y gestión de Proyectos Ambientales</a> <br />
                                    -  <a href="~/doc/Curso EIA.pdf" >Estudio de Impacto ambiental </a> <br />
                                    -  <a href="~/doc/CursoMicrobiología.pdf">Microbiología Ambiental </a> <br />
                                </div>*@

                                @*<br />*@


                                <div class="form-horizontal">
                                    @*<h4 class="font-weight-bold h4-responsive">Preinscripción</h4>
                                    <br />*@
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            @*<div class="form-group">
                                                <h6 class="h6-responsive font-weight-bold">I.- CURSO DE INTERÉS </h6>
                                                @Html.LabelFor(model => model.Curso,"1. Curso", htmlAttributes: new { @class = "control-label font-weight-bold " })
                                                @Html.DropDownList("cursos", null, htmlAttributes: new { @class = "mdb-select col-12", data_tooltip = "tooltip", data_placement = "right", title = "seleccione el curso al que se inscribira", data_animation = "false", style = "display:initial", ng_model = "curso"})




                                            </div>*@
                                            <hr />
                                            <h6 class="h6-responsive font-weight-bold">I.-DATOS PERSONALES   </h6>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Nombres, "1. Nombres:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", ng_model = "nombres" } })

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Apellidos, "2. Apellidos:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control", ng_model = "apellidos" } })

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Recibo, "3. # de Recibo Oficial de Caja, Solo si ya pago.:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Recibo, new { htmlAttributes = new { @class = "form-control", ng_model = "recibo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Cedula,"4. Cédula:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control", ng_model = "cedula", mask = "999-999999-9999S" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Ciudad, "5.	Ciudad, Municipio donde reside::", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control", ng_model = "ciudad" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DireccionDomiciliar, "6.	Dirección domiciliar:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.DireccionDomiciliar, new { htmlAttributes = new { @class = "form-control", ng_model = "direccion" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TelefonoTrabajo, "7. Teléfono de Casa", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.TelefonoTrabajo, new { htmlAttributes = new { @class = "form-control", ng_model = "telefonocasa", type="text", mask="99999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TelefonoTrabajo, "8. Teléfono  del Trabajo", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.TelefonoTrabajo, new { htmlAttributes = new { @class = "form-control", ng_model = "telefonotrabajo",type = "text", mask = "99999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Movil, "8. Móvil", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.Movil, new { htmlAttributes = new { @class = "form-control", ng_model = "movil", type = "text", mask = "99999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Telefonia, "9. Telefonía movil", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.DropDownList("telefonia", null, htmlAttributes: new { @class = "mdb-select", data_tooltip = "tooltip", data_placement = "right", title = "seleccione una operadora telefonica", data_animation = "false", style = "display:initial", ng_model = "telefonia", mask = "99999999" })


                                            </div>


                                        </div>
                                        <div class="col-sm-12 col-lg-6">

                                            <hr />
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmailPersonal, "10. Correo Electrónico Personal:", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.EmailPersonal, new { htmlAttributes = new { @class = "form-control", ng_model = "correo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmailOficina, "11.Correo Electrónico Oficina", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.EmailOficina, new { htmlAttributes = new { @class = "form-control", ng_model = "correotrabajo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Emergencia, "12. En caso de emergencia llamar a (indicar nombre completo y datos de contacto):", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Emergencia, new { htmlAttributes = new { @class = "form-control", ng_model = "emergencia" } })

                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumeroEmergencia, "13. Número del contacto para emergencia:", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.NumeroEmergencia, new { htmlAttributes = new { @class = "form-control", ng_model = "numeroemergencia", mask = "99999999" } })

                                            </div>
                                            <h6 class="h6-responsive font-weight-bold">III.-DATOS PROFESIONALES / LABORALES  </h6>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Titulo, "14. Título / Profesión*:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", ng_model = "titulo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PuestoTrabajo, "15. Puesto de trabajo actual:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.PuestoTrabajo, new { htmlAttributes = new { @class = "form-control", ng_model = "puesto" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Organizacion, "16. Institución/Organización en que labora:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Organizacion, new { htmlAttributes = new { @class = "form-control", ng_model = "organizacion", type = "text" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DireccionTrabajo, "17. Dirección de su trabajo:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.DireccionTrabajo, new { htmlAttributes = new { @class = "form-control", ng_model = "direcciontrabajo", type = "text"}})


                                            </div>
                                            <h6 class="h6-responsive font-weight-bold">IV.- . OTRAS TEMÁTICAS DE INTERÉS PARA USTED (FUTUROS CURSOS DE INTERÉS) </h6>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FuturusCursos, "", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.FuturusCursos, new { htmlAttributes = new { @class = "form-control",ng_model="cursofuturo" } })

                                            </div>


                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Enviar" class="btn btn-sm green darken-4 font-weight-bold" ng-click="guardar()" />
                                            @*<button id="gg" class="g-recaptcha btn btn-sm green darken-4 font-weight-bold"  ng-click="ggg()"
                                                    data-sitekey="6LfWcRYUAAAAAOfl0WuwIU_1WJ5abhKKxu-8v2rU"
                                                    data-callback="onSubmit">
                                                Preinscripción

                                            </button>*@
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>


                    </div>
                </div>
                <!--/Form with header-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>

    <div class="modal fade modal-ext" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header blue darken-4">
                    <h4 class="modal-title text-left white-text font-weight-bold">
                        Preinscripción
                    </h4>
                    <button class="close" type="button" data-dismiss="modal">
                        <span aria-hidden="true" class="white-text">×</span> <span class="sr-only">Cerrar</span>
                    </button>

                </div>
                <div class="modal-body">
                    <p class="red-text flex-center">{{message}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#table1').DataTable();

});
</script>

<script>

    var reponsecat = "";
    var onSubmit = function (token) {
        grecaptcha.execute();
        responsecat = grecaptcha.getResponse();
        $.ajax({
            type: 'POST',
            url: "http://www.google.com/recaptcha/api/siteverify",
            data: {
                secret: "6LfWcRYUAAAAAGDFwSVSOZms2aLAZim_4WAYcVZv",
                response: responsecat
            },
            success: function (data) {

                console.log(data);
                grecaptcha.reset();

            }
        });
    };




    app.controller('PremacController', ['$scope', '$http', "$window", function ($scope, $http, $window) {
        $scope.telefonia = "1";
        $scope.nombres = "";
        $scope.apellidos = "";
        $scope.cedula = "";
         $scope.correo = "";

        $scope.gg = function () {
            grecaptcha.execute();
            responsecat = grecaptcha.getResponse();
            $.ajax({
                url: "http://www.google.com/recaptcha/api/siteverify",
                data: {
                    secret: "6LfWcRYUAAAAAGDFwSVSOZms2aLAZim_4WAYcVZv",
                    response: responsecat
                },
                success: function (result) {
                    console.log(result.success);
                    grecaptcha.reset();
                }
            });
        }
        $scope.changeti = function () {
            $scope.blue = true;
        }
        $scope.changtt = function () {
            $scope.blue = false;
        }

        $scope.ggg = function () {
            grecaptcha.render('gg', {
                'sitekey': '6LfWcRYUAAAAAOfl0WuwIU_1WJ5abhKKxu-8v2rU'
            });
            grecaptcha.execute();
            responsecat = grecaptcha.getResponse();
            $.ajax({
                url: "http://www.google.com/recaptcha/api/siteverify",
                data: {
                    secret: "6LfWcRYUAAAAAGDFwSVSOZms2aLAZim_4WAYcVZv",
                    response: responsecat
                },
                success: function (result) {
                    console.log(result.success);
                    grecaptcha.reset();
                }
            });

        }


        $scope.guardar = function () {
            if ($scope.nombres.length > 3 && $scope.apellidos.length > 3 && $scope.cedula.length >15 && $scope.correo.length > 6 && $scope.movil.length > 7) {
                $http({
                    url: "../Academia/saveprecurso",
                method: "POST",
                data: $.param({
                    "Curso": 7, "Nombres" : $scope.nombres , "Apellidos" : $scope.apellidos,"Recibo": $scope.recibo ,"Cedula" : $scope.cedula, "Ciudad" : $scope.ciudad, "DireccionDomiciliar" : $scope.direccion, "TelefonoConvencional" : $scope.telefonocasa, "TelefonoTrabajo": $scope.telefonotrabajo, "Movil" : $scope.movil , "Telefonia" : $scope.telefonia, "EmailOficina": $scope.correotrabajo, "EmailPersonal" : $scope.correo,"Emergencia" : $scope.emergencia,"NumeroEmergencia" : $scope.numeroemergencia, "Titulo" : $scope.titulo,"PuestoTrabajo": $scope.puesto, "Organizacion" : $scope.organizacion,"DireccionTrabajo" : $scope.direcciontrabajo, "FuturusCursos": $scope.cursofuturo
            }),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).then(function (response) {



                if (response.data.message == "error") {
                    $scope.message = "Error en la Transaccion Code: " + response.status;
                    $('#modal').modal('show');
            }
                if (response.data.message == "exito") {


                    $('#modal').modal('show');
                    $scope.message = "Se ha guardo con exito tu preinscripción";
                    setTimeout(function () {
                        $window.location.href = "../Academia/Cursoslibres";

            }, 4000);

            }


            }, function (response) {
                $scope.message = "Error: No se puede Generar la consulta: " + response.status;
            });
            }else{
                toastr["warning"]("Debe escribir sus nombres, apellidos, cédula , numero telefónico personal y su correo electrónico")
            }

        }



    }]);

</script>
