﻿





@model PIENSAWEB.Models.PreinscripcionCursos
@{
    ViewBag.Title = "Preinscripción a cursos libres";
}
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.min.css" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
    #img {
        width: 200px;
        height: 200px;
    }
</style>
<style>
    #table1_filter{
        display: none;
    }
  #table1_length{
        display: none;
    }
  #table1_info{
        display: none;
    }
  #table1_paginate{
        display: none;
    }
 </style>
<div class="container" ng-controller="PremacController">
    <br />
    <h3 class="h3-responsive indigo-text">Preinscripción de cursos de posgrados</h3>
    <br />




    <div class="table-responsive">

        @*<table id="table1">
            <thead class="font-weight-bold green  text-white">
                <tr>
                    <td>
                        Curso
                    </td>
                    <td>Tiempo</td>
                    <td>Inversión</td>
                    <td>Fecha de inicio</td>
                    <td>Horario</td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td class="font-weight-bold">
                        Curso práctico para elaboración de tesis (ciclos anteriores MIA-MCA)
                    </td>
                    <td>
                        40 Horas
                    </td>
                    <td>
                        $ 600.00 C/U Tesis en pareja
                    </td>
                    <td>
                        Sáb. 03/03/18
                    </td>
                    <td>
                       sábados de por medio, 8:30 am a 12 pm
                    </td>
                    
                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Diseño y gestión de Proyectos Ambientales
                    </td>
                    <td>
                        50 Horas
                                        </td>
                    <td>
                        $ 280.00
                    </td>
                    <td>
                        Viernes 06 de abril 2018
                    </td>
                    <td>
                        8 viernes: 5 - 8:30PM y 4 Sáb. de 8AM - 12:20 PM
                    </td>

                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Estudio de Impacto ambiental
                    </td>
                    <td>
                        40 Horas
                    </td>
                    <td>
                        $ 250.00
                    </td>
                    <td>
                        7 de abril 2018
                    </td>
                    <td>
                        10 sábados de 1:10 - 4:40PM
                    </td>

                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Microbiología Ambiental                    </td>
                    <td>
                        48 Horas                    </td>
                    <td>
                        $ 280.00
                    </td>
                    <td>
                       Vier. 4 de mayo de 2018
                    </td>
                    <td>
                        6 viernes: 5 - 8:30PM y 6 Sáb. 1:10 - 4:40PM
                    </td>

                </tr>
                <tr>
                    <td class="font-weight-bold">
                        Química Ambiental
                    </td>
                    <td>
                        40 Horas
                    </td>
                    <td>
                        $ 250.00
                    </td>
                    <td>
                        Sáb. 5 de mayo de 2018
                    </td>
                    <td>
                        8 Sábados de 8 AM a 12:20 PM
                    </td>

                </tr>
            </tbody>
        </table>*@

        <img src="~/img/image.png"/>

    </div>

    <section class="section mb-5 pt-5">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12">

                <!--Form with header-->
                <div class="">
                    <div class="row container">
                        <div class="col-lg-12">
                            <div class="card-body form">
                                <!--Header-->
                                <div class="formHeader mb-1 pt-3">
                                    <h4><i class="fa fa-asterisk "></i> Requisitos:</h4><br />
                                    -  Curso práctico para elaboración de tesis (ciclos anteriores MIA-MCA)  - Solo egresados de los programas de maestrías PIENSA<br />
                                    -  <a href="~/doc/DyGPA.pdf">Diseño y gestión de Proyectos Ambientales</a> <br />
                                    -  <a href="~/doc/Curso EIA.pdf" >Estudio de Impacto ambiental </a> <br />
                                    -  <a href="~/doc/CursoMicrobiología.pdf">Microbiología Ambiental </a> <br />
                                </div>

                                <br />


                                <div class="form-horizontal">
                                    @*<h4 class="font-weight-bold h4-responsive">Preinscripción</h4>
                                    <br />*@
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="form-group">
                                                <h6 class="h6-responsive font-weight-bold">I.- CURSO DE INTERÉS </h6>
                                                @Html.LabelFor(model => model.Curso,"1. Curso", htmlAttributes: new { @class = "control-label font-weight-bold " })
                                                @Html.DropDownList("cursos", null, htmlAttributes: new { @class = "mdb-select col-12", data_tooltip = "tooltip", data_placement = "right", title = "seleccione el curso al que se inscribira", data_animation = "false", style = "display:initial", id = "curso"})




                                            </div>
                                            <hr />
                                            <h6 class="h6-responsive font-weight-bold">II.-DATOS PERSONALES   </h6>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Nombres, "2. Nombres:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control", id = "nombres" } })

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Apellidos, "3. Apellidos:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control", id = "apellidos" } })

                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Recibo, "3. # de Recibo Oficial de Caja, Solo si ya pago.:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Recibo, new { htmlAttributes = new { @class = "form-control", id = "recibo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Cedula,"4. Cédula:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control", id = "cedula", ng_model = "cedula", mask = "999-999999-9999S" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Ciudad, "5.	Ciudad, Municipio donde reside::", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control", id = "ciudad" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DireccionDomiciliar, "6.	Dirección domiciliar:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.DireccionDomiciliar, new { htmlAttributes = new { @class = "form-control", id = "direccion" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TelefonoTrabajo, "7. Teléfono de Casa", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.TelefonoTrabajo, new { htmlAttributes = new { @class = "form-control", id = "telefonocasa", type="text", ng_model = "telefonocasa", mask ="99999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TelefonoTrabajo, "8. Teléfono  del Trabajo", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.TelefonoTrabajo, new { htmlAttributes = new { @class = "form-control", id = "telefonotrabajo",type = "text", ng_model = "telefonotrabajo", mask = "99999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Movil, "8. Móvil", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.Movil, new { htmlAttributes = new { @class = "form-control", id = "movil", type = "text",ng_model = "movil", mask = "99999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Telefonia, "9. Telefonía movil", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.DropDownList("telefonia", null, htmlAttributes: new { @class = "mdb-select", data_tooltip = "tooltip", data_placement = "right", title = "seleccione una operadora telefonica", data_animation = "false", style = "display:initial", id = "telefonia", mask = "99999999" })


                                            </div>


                                        </div>
                                        <div class="col-sm-12 col-lg-6">

                                            <hr />
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmailPersonal, "10. Correo Electrónico Personal:", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.EmailPersonal, new { htmlAttributes = new { @class = "form-control", id = "correo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmailOficina, "11.Correo Electrónico Oficina", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.EmailOficina, new { htmlAttributes = new { @class = "form-control", id = "correotrabajo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Emergencia, "12. En caso de emergencia llamar a (indicar nombre completo y datos de contacto):", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Emergencia, new { htmlAttributes = new { @class = "form-control", id = "emergencia" } })

                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumeroEmergencia, "13. Número del contacto para emergencia:", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.NumeroEmergencia, new { htmlAttributes = new { @class = "form-control", id = "numeroemergencia", ng_model="numeroemergencia",mask = "99999999" } })

                                            </div>
                                            <h6 class="h6-responsive font-weight-bold">III.-DATOS PROFESIONALES / LABORALES  </h6>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Titulo, "14. Título / Profesión*:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", id = "titulo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PuestoTrabajo, "15. Puesto de trabajo actual:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.PuestoTrabajo, new { htmlAttributes = new { @class = "form-control", id = "puesto" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Organizacion, "16. Institución/Organización en que labora:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Organizacion, new { htmlAttributes = new { @class = "form-control", id = "organizacion", type = "text" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DireccionTrabajo, "17. Dirección de su trabajo:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.DireccionTrabajo, new { htmlAttributes = new { @class = "form-control", id = "direcciontrabajo", type = "text"}})


                                            </div>
                                            <h6 class="h6-responsive font-weight-bold">IV.- . OTRAS TEMÁTICAS DE INTERÉS PARA USTED (FUTUROS CURSOS DE INTERÉS) </h6>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FuturusCursos, "", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.FuturusCursos, new { htmlAttributes = new { @class = "form-control",id="cursofuturo" } })

                                            </div>


                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button class="g-recaptcha btn btn-sm green darken-4 font-weight-bold"
                                                    data-sitekey="6LfWcRYUAAAAAOfl0WuwIU_1WJ5abhKKxu-8v2rU"
                                                    data-callback="guardar">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>


                    </div>
                </div>
                <!--/Form with header-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>

    <div class="modal fade modal-ext" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header blue darken-4">
                    <h4 class="modal-title text-left white-text font-weight-bold">
                        Preinscripción
                    </h4>
                    <button class="close" type="button" data-dismiss="modal">
                        <span aria-hidden="true" class="white-text">×</span> <span class="sr-only">Cerrar</span>
                    </button>

                </div>
                <div class="modal-body">
                    <p class="red-text flex-center" id="textmessage">{{message}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#table1').DataTable();

});
</script>

<script>

    var reponsecat = "";
    $('telefonia').val("1");
    $('nombres').val("");
    $('apellidos').val("");
    $('cedula').val("");
    $('correo').val("");


    function guardar(token) {

        if ($('#nombres').val().length > 3 && $('#apellidos').val().length > 3 && $('#cedula').val().length > 0 && $('#correo').val().length > 6 && $('#movil').val().length > 7) {


            var obj = '{"Curso": "' + $('#curso').val() + '","Nombres": "' + $('#nombres').val() + '","Cedula": "' + $('#cedula').val() + '", "Apellidos" : "' + $('#apellidos').val() + '","DireccionDomiciliar": "' + $('#direccion').val() + '","Ciudad": "' + $('#ciudad').val() + '","Telefonoconvencional": "' + $('#telefonocasa').val() + '","telefonotrabajo": "' + $('#telefonotrabajo').val() + '","Movil": "' + $('#movil').val() + '","Telefonia": "' + $('#telefonia').val() + '","EmailOficina": "' + $('#correotrabajo').val() + '","EmailPersonal": "' + $('#correo').val() + '","Emergencia": "' + $('#emergencia').val() + '","NumeroEmergencia": "' + $('#numeroemergencia').val() + '","Titulo": "' + $('#titulo').val() + '","PuestoTrabajo": "' + $('#puesto').val() + '","Organizacion": "' + $('#organizacion').val() + '","DireccionTrabajo": "' + $('#direcciontrabajo').val() + '","FuturusCursos": "' + $('#cursofuturo').val() +  '","Recibo": "' + $('#recibo').val() + '","Token": "' + token + '"}';
            var jj = JSON.parse(obj);

            $.ajax({
                url: "../Academia/saveprecurso",
                method: "POST",
                data: obj
                ,
                contentType: 'application/json',
                success:
                    function (response) {
                        console.log(response);
                        if (response.message == "error") {
                            $("#textmessage").append("Error en la Transaccion Code: " + response.status);
                            $('#modal').modal('show');
                        }
                        if (response.message == "exito") {


                            $('#modal').modal('show');
                            $("#textmessage").append("Se ha guardo con exito tu preinscripción");
                            setTimeout(function () {
                                window.location.href = "../Academia/maestrias";
                            }, 4000);

                        }

                    }



            });

        } else {
            toastr["warning"]("Debe al menos escribir sus nombres, apellidos, cédula ,nacionalidad, un numero telefónico y su correo electrónico")
        }
        grecaptcha.reset();
    }



    app.controller('PremacController', ['$scope', '$http', "$window", function ($scope, $http, $window) {
        $scope.telefonia = "1";
        $scope.nombres = "";
        $scope.apellidos = "";
        $scope.cedula = "";
        $scope.correo = "";

        $scope.gg = function () {
            grecaptcha.execute();
            responsecat = grecaptcha.getResponse();
            $.ajax({
                url: "http://www.google.com/recaptcha/api/siteverify",
                data: {
                    secret: "6LfWcRYUAAAAAGDFwSVSOZms2aLAZim_4WAYcVZv",
                    response: responsecat
                },
                success: function (result) {
                    console.log(result.success);
                    grecaptcha.reset();
                }
            });
        }
        $scope.changeti = function () {
            $scope.blue = true;
        }
        $scope.changtt = function () {
            $scope.blue = false;
        }

        $scope.ggg = function () {
            grecaptcha.render('gg', {
                'sitekey': '6LfWcRYUAAAAAOfl0WuwIU_1WJ5abhKKxu-8v2rU'
            });
            grecaptcha.execute();
            responsecat = grecaptcha.getResponse();
            $.ajax({
                url: "http://www.google.com/recaptcha/api/siteverify",
                data: {
                    secret: "6LfWcRYUAAAAAGDFwSVSOZms2aLAZim_4WAYcVZv",
                    response: responsecat
                },
                success: function (result) {
                    console.log(result.success);
                    grecaptcha.reset();
                }
            });

        }


        $scope.guardar = function () {
            if ($scope.nombres.length > 3 && $scope.apellidos.length > 3 && $scope.cedula.length >15 && $scope.correo.length > 6 && $scope.movil.length > 7) {
                $http({
                    url: "../Academia/saveprecurso",
                method: "POST",
                data: $.param({
                    "Curso": $scope.curso, "Nombres" : $scope.nombres , "Apellidos" : $scope.apellidos,"Recibo": $scope.recibo ,"Cedula" : $scope.cedula, "Ciudad" : $scope.ciudad, "DireccionDomiciliar" : $scope.direccion, "TelefonoConvencional" : $scope.telefonocasa, "TelefonoTrabajo": $scope.telefonotrabajo, "Movil" : $scope.movil , "Telefonia" : $scope.telefonia, "EmailOficina": $scope.correotrabajo, "EmailPersonal" : $scope.correo,"Emergencia" : $scope.emergencia,"NumeroEmergencia" : $scope.numeroemergencia, "Titulo" : $scope.titulo,"PuestoTrabajo": $scope.puesto, "Organizacion" : $scope.organizacion,"DireccionTrabajo" : $scope.direcciontrabajo, "FuturusCursos": $scope.cursofuturo
            }),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).then(function (response) {



                if (response.data.message == "error") {
                    $scope.message = "Error en la Transaccion Code: " + response.status;
                    $('#modal').modal('show');
            }
                if (response.data.message == "exito") {


                    $('#modal').modal('show');
                    $scope.message = "Se ha guardo con exito tu preinscripción";
                    setTimeout(function () {
                        $window.location.href = "../Academia/Cursoslibres";

            }, 4000);

            }


            }, function (response) {
                $scope.message = "Error: No se puede Generar la consulta: " + response.status;
            });
            }else{
                toastr["warning"]("Debe escribir sus nombres, apellidos, cédula , numero telefónico personal y su correo electrónico")
            }

        }



    }]);

</script>
