﻿@model PIENSAWEB.Models.Prematricula
@{
    ViewBag.Title = "Prematricula";
}

<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
    #img {
        width: 200px;
        height: 200px;
    }
</style>
<div class="container" ng-controller="PremaController">
    <br />
    <h3 class="h3-responsive indigo-text">Preinscripción de Maestría</h3>
    <br />
    <img src="~/img/Header MCA.png" />
    <section class="section mb-5 pt-5">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12">

                <!--Form with header-->
                <div class="">
                    <div class="row container">
                        <div class="col-lg-12">
                            <div class="card-body form">
                                <!--Header-->
                                <div class="formHeader mb-1 pt-3">
                                    <h4><i class="fa fa-asterisk "></i> Requisitos:</h4>
                                    <br /><p><i class="fa fa-check" aria-hidden="true"></i>Titulo Profesional en carreras afines al ambiental</p>
                                    <p><i class="fa fa-check" aria-hidden="true"></i>Promedio de notas de grado y cursos Propedéuticos  >= 75</p>
                                    @*<p><i class="fa fa-check" aria-hidden="true"></i>Presentar documentos que demuestren capacidad de pago o financiamiento para asegurar el depósito oportuno de aranceles de la Maestría</p>*@
                                    <p><i class="fa fa-check" aria-hidden="true"></i> Cédula de Identidad</p>
                                    <p><i class="fa fa-check" aria-hidden="true"></i> Carta de Recomendación - <a href="~/doc/Formato carta de recomendación.docx" download="formato-carta-recomendación.docx">Formato de carta </a></p> 
    


</div>

                                <br />


                                <div class="form-horizontal">
                                    <h4 class="font-weight-bold h4-responsive">Preinscripción</h4>
                                    <br />
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="form-group">
                                                <h6 class="h6-responsive font-weight-bold">I.- MENCIÓN DE INTERÉS </h6>
                                                @Html.LabelFor(model => model.Mencion,"1. Mención", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                <select class="mdb-select" id="mencion" style="display:initial" >

                                                    <option value="1">Ingeniería Ambiental</option>
                                                    <option value="2">Gestión Ambiental</option>

                                                </select>

                                            </div>
                                            <hr />
                                            <h6 class="h6-responsive font-weight-bold">II.-DATOS PERSONALES  y LABORALES  </h6>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NombresApellidos, "2. Nombres y Apellidos", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.NombresApellidos, new { htmlAttributes = new { @class = "form-control", id = "nombresapellidos" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Cedula,"3. Cédula", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control", id = "cedula", ng_model="cedula", mask="999-999999-9999w" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Nacionalidad, "4.  Nacionalidad", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.Nacionalidad, new { htmlAttributes = new { @class = "form-control", id = "nacionalidad" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DireccionDomiciliar, "5.	Dirección domiciliar (indicar puntos de referencia, número de casa, barrio, municipio y departamento):", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.DireccionDomiciliar, new { htmlAttributes = new { @class = "form-control", id = "direccion" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumeroCasa, "6. Teléfono de Casa", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.NumeroCasa, new { htmlAttributes = new { @class = "form-control", id = "numerocasa", type="text", ng_model="numerocasa", mask="99999999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumeroTrabajo, "7. Teléfono  del Trabajo", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.NumeroTrabajo, new { htmlAttributes = new { @class = "form-control", id = "numerotrabajo",type = "text", ng_model = "numerotrabajo", mask = "99999999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumeroClaro, "8. Celular Claro", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.NumeroClaro, new { htmlAttributes = new { @class = "form-control", id = "numeroclaro", type = "text", ng_model = "numeroclaro", mask = "99999999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumeroMovistar, "9. Celular Movistar", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.NumeroMovistar, new { htmlAttributes = new { @class = "form-control", id = "numeromovistar", type = "text", ng_model = "numeromovistar", mask = "99999999999" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Correo, "10. Correo Electrónico",htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", id = "correo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CentrodeTrabajo,"11.Centro de Trabajo", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.CentrodeTrabajo, new { htmlAttributes = new { @class = "form-control", id = "centrotrabajo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PuestoTrabajo, "12.Puesto de Trabajo", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.PuestoTrabajo, new { htmlAttributes = new { @class = "form-control", id = "puestotrabajo" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TipoApoyoEmpleador, "13. Tipo de apoyo que le otorgará su empleador actual para sus estudios de maestría (describir brevemente):", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.TipoApoyoEmpleador, new { htmlAttributes = new { @class = "form-control", id = "tipoapoyoempleador" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PadeceEnfermedades, "14. ¿Padece de algunas enfermedades crónicas? Describir brevemente.", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.PadeceEnfermedades, new { htmlAttributes = new { @class = "form-control", id = "padeceenfermedades" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NombreApellidosContacto, "15. Nombre de contacto de la persona a quien se deba avisar sobre ud. en caso de alguna emergencia", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.NombreApellidosContacto, new { htmlAttributes = new { @class = "form-control", id = "contacto" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NumeroContacto, "16. Número de contacto de la persona a quien se deba avisar sobre ud. en caso de alguna emergencia", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.NumeroContacto, new { htmlAttributes = new { @class = "form-control", id = "numerocontacto", type = "text", ng_model = "numerocontacto" ,mask = "99999999999" } })

                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">

                                            <hr />
                                            <h6 class="h6-responsive font-weight-bold">III.- DATOS ACADÉMICOS.   </h6>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.TituloAcadamico, "17. Título profesional:", htmlAttributes: new { @class = "control-label  font-weight-bold" })
                                      


                                                <select class="mdb-select" id="titulo" ng-model="titulo" style="display:initial">

                                                    <option value="Ing. Civil" ng-click="changett()">Ing. Civil</option>
                                                    <option  value="Ing. Quimica" ng-click="changett()">Ing. Quimica</option>
                                                    <option  value="Ing. Calidad Ambiental" ng-click="changett()">Ing. Calidad Ambiental</option>  
                                                    <option ng-click="changeti()" value="">Otro</option>                                                  

                                                </select>
                                                <br />@Html.LabelFor(model => model.TituloAcadamico, "Otro Título:", htmlAttributes: new { @class = "control-label  font-weight-bold" ,ng_show="blue  " })  

                                                @Html.EditorFor(model => model.NumeroContacto, new { htmlAttributes = new { @class = "form-control", id = "titulo", type = "text", ng_keyup = "contacton()",ng_show="blue" }})


                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Universidad, "18. Universidad donde obtuvo este grado: (indicar país de origen si es  extranjera)", htmlAttributes: new { @class = "control-label font-weight-bold " })

                                                @Html.EditorFor(model => model.Universidad, new { htmlAttributes = new { @class = "form-control",id="universidad" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.PromediodeNotas, "17. Promedio de calificaciones obtenido:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                @Html.EditorFor(model => model.PromediodeNotas, new { htmlAttributes = new { @class = "form-control",id = "promedio", type = "text", ng_model = "promedio", mask = "99.99" } })

                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HabilidadInglesLectura,"18. Habilidad en Inglés con la lectura", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                <select class="mdb-select" id="habilidadlectura" style="display:initial">

                                                    <option value="0">Ninguna</option>
                                                    <option value="1">Regular</option>
                                                    <option value="2">Buena</option>
                                                    <option value="3">Muy Buena</option>
                                                    <option value="4">Excelente</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HabilidadInglesEscritura, "19. Habilidad en Inglés con la escritura", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                <select class="mdb-select" id="habilidadescritura" style="display:initial">

                                                    <option value="0">Ninguna</option>
                                                    <option value="1">Regular</option>
                                                    <option value="2">Buena</option>
                                                    <option value="3">Muy Buena</option>
                                                    <option value="4">Excelente</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HabilidadInglesConversacion, "20. Habilidad en Inglés con la conversacion", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                <select class="mdb-select" id="habilidadconversacion" style="display:initial">

                                                    <option value="0">Ninguna</option>
                                                    <option value="1">Regular</option>
                                                    <option value="2">Buena</option>
                                                    <option value="3">Muy Buena</option>
                                                    <option value="4">Excelente</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FormadeCulminacion, "21. Forma de culminación de estudios (grado):(Indicar si hizo monografía, curso de graduación, examen de grado u otra)", htmlAttributes: new { @class = "control-label font-weight-bold " })


                                                <select class="mdb-select" id="formaculminacion" style="display:initial">

                                                    <option value="Monografía">Monografía</option>
                                                    <option value="Curso de Graduación">Curso de Graduación</option>
                                                    <option value="Examen de Grado">Examen de Grado</option>
                                                    <option value="Prácticas Profesionales">Prácticas Profesionales</option>


                                                </select>
                                            </div>
                                            <hr />
                                            <h6 class="h6-responsive font-weight-bold">IV.- INFORMACIÓN COMPLEMENTARIA DE INTERÉS PARA EL PIENSA  </h6>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ExperenciaTrabajosCienciasAmbientales, "22. Experiencia en trabajos profesionales o académicos relacionados con las ciencias ambientales (Describa lo que realizó ud. particularmente y si los trabajos los realizó en equipo con otros colegas)", htmlAttributes: new { @class = "control-label  font-weight-bold" })
                                                <textarea id="experencia"></textarea>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Motivaciones, "23. Explique brevemente sus motivaciones para ingresar a esta maestría:", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                <textarea id="motivaciones"></textarea>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.IdeadeTesina, "24. Las líneas de investigación del PIENSA son: Agua residual, Agua de consumo, Residuos sólidos, Calidad  del aire y Biotecnología ambiental ¿En cuál de ellas piensa desarrollar su tesis o tesina y por qué?  Si ya tiene alguna idea para su proyecto de investigación descríbala acá brevemente.", htmlAttributes: new { @class = "control-label  font-weight-bold" })

                                                <textarea id="tesina"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                   

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            @*<input type="submit" value="Preinscriete" class="btn btn-sm green darken-4 font-weight-bold" ng-click="guardar()" />*@
                                            <button class="g-recaptcha btn btn-sm green darken-4 font-weight-bold"
                                                    data-sitekey="6LfWcRYUAAAAAOfl0WuwIU_1WJ5abhKKxu-8v2rU"
                                                    data-callback="guardar">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>


                    </div>
                </div>
                <!--/Form with header-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>

    <div class="modal fade modal-ext" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header blue darken-4">
                    <h4 class="modal-title text-left white-text font-weight-bold">
                        Preinscripción
                    </h4>
                    <button class="close" type="button" data-dismiss="modal">
                        <span aria-hidden="true" class="white-text">×</span> <span class="sr-only">Cerrar</span>
                    </button>

                </div>
                <div class="modal-body">
                    <p class="red-text flex-center" id="textmessage">{{message}}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>

    var reponsecat = "";
    $('mencion').val("1");
    $('blue').val(false);
    $('nombresapellidos').val("");
    $('cedula').val("");
    $('correo').val("");
    $('nacionalidad').val("");
    $('habilidadescritura').val("0");
    $('habilidadlectura').val("0");
    $('habilidadconversacion').val("0");
    $('formaculminacion').val("Monografía");
    $('titulo').val("Ing. Civil");



    function guardar(token) {
       
        var nombresapellidos = $('#nombresapellidos').val();
        var cedula = $('#cedula').val();

        if (nombresapellidos.length > 0 && cedula.length > 0 && $('#nacionalidad').val().length > 0 && ($('#numerocasa').val() > 0 || $('#numeroclaro').val() > 0 || $('#numeromovistar').val() > 0 || $('#numerotrabajo').val() > 0) && $('#correo').val().length > 6) {

           
            var obj = '{"Mencion": "'+$('#mencion').val()+'","NombresApellidos": "'+$('#nombresapellidos').val()+'","Cedula": "'+$('#cedula').val()+'", "Nacionalidad" : "'+$('#nacionalidad').val()+'","DireccionDomiciliar": "'+$('#direccion').val()+'","NumeroCasa": "'+$('#numerocasa').val()+'","NumeroTrabajo": "'+$('#numerotrabajo').val()+'","NumeroClaro": "'+$('#numeroclaro').val()+'","NumeroMovistar": "'+$('#numeromovistar').val()+'","Correo": "'+$('#correo').val()+'","CentrodeTrabajo": "'+$('#centrotrabajo').val()+'","PuestoTrabajo": "'+$('#puestotrabajo').val()+'","TipoApoyoEmpleador": "'+$('#tipoapoyoempleador').val()+'","PadeceEnfermedades": "'+$('#padeceenfermedades').val()+'","NombreApellidosContacto": "'+$('#contacto').val()+'","NumeroContacto": "'+$('#numerocontacto').val()+'","Universidad": "'+$('#universidad').val()+'","PromediodeNotas": "'+$('#promedio').val()+'","HabilidadInglesLectura": "'+$('#habilidadlectura').val()+'","HabilidadInglesEscritura": "'+$('#habilidadescritura').val()+'","HabilidadInglesConversacion": "'+$('#habilidadconversacion').val()+'","FormadeCulminacion": "'+$('#formaculminacion').val()+'","ExperenciaTrabajosCienciasAmbientales": "'+$('#experencia').val()+'","Motivaciones": "'+$('#motivaciones').val()+'","IdeadeTesina": "'+$('#tesina').val()+'","TituloAcadamico": "'+$('#titulo').val()+'","Token": "'+token+'"}';
            var jj = JSON.parse(obj);
           
                $.ajax({
                    url: "../Academia/saveprematricula",
                    method: "POST",
                    data: obj
                    ,
                    contentType: 'application/json' ,
                    success : 
                        function (response) {
                            console.log(response);
                            if (response.message == "error") {
                                $("#textmessage").append("Error en la Transaccion Code: " + response.status);
                                $('#modal').modal('show');
                            }
                            if (response.message == "exito") {


                                $('#modal').modal('show');
                                $("#textmessage").append("Se ha guardo con exito tu preinscripción");
                                setTimeout(function () {
                                    window.location.href = "../Academia/maestrias";
                                }, 4000);

                            }

                        }
       
                    

                });
            
            } else {
                toastr["warning"]("Debe al menos escribir sus nombres, apellidos, cédula ,nacionalidad, un numero telefónico y su correo electrónico")
        }
        grecaptcha.reset();
    }
    


   
    

    app.controller('PremaController', ['$scope', '$http', "$window", function ($scope, $http, $window) {
      
    
        $scope.changeti = function () {
            $scope.blue = true;
        };
        $scope.changtt = function () {
            $scope.blue = false;
        };

      
     

            $scope.guardar = function () {
                if ($scope.nombresapellidos.length > 0 && $scope.cedula.length > 0 && $scope.nacionalidad.length > 0 && ($scope.numerocasa > 0 || $scope.numeroclaro > 0 || $scope.numeromovistar > 0 || $scope.numerotrabajo > 0) && $scope.correo.length > 6) {
                    $scope.send = '{"Mencion": "' + $scope.mencion + '", "NombresApellidos":"' + $scope.nombresapellidos + '", "Cedula": "' + $scope.cedula + '", "Nacionalidad": "' + $scope.nacionalidad + '", "DireccionDomiciliar": "' + $scope.direccion + '", "NumeroCasa": "' + $scope.numerocasa + '", "NumeroTrabajo": "' + $scope.numerotrabajo + '", "NumeroClaro": "' + $scope.numeroclaro + '", "NumeroMovistar": "' + $scope.numeromovistar + '", "Correo": "' + $scope.correo + '", "CentrodeTrabajo": "' + $scope.centrotrabajo + '", "PuestoTrabajo": "' + $scope.puestotrabajo + '", "TipoApoyoEmpleador": "' + $scope.tipoapoyoempleador + '", "PadeceEnfermedades": "' + $scope.padeceenfermedades + '", "NombreApellidosContacto": "' + $scope.contacto + '", "NumeroContacto": "' + $scope.numerocontacto + '","TituloAcadamico": "' + $scope.titulo + '","Universidad": "' + $scope.universidad + '","PromediodeNotas": "' + $scope.promedio + '","HabilidadInglesLectura": "' + $scope.habilidadlectura + '","HabilidadInglesEscritura": "' + $scope.habilidadescritura + '","HabilidadInglesConversacion": "' + $scope.habilidadconversacion + '","FormadeCulminacion": "' + $scope.formaculminacion + '","ExperenciaTrabajosCienciasAmbientales": "' + $scope.experencia + '","Motivaciones": "' + $scope.motivaciones + '","IdeadeTesina": "' + $scope.tesina + '"}';
                  

                    $http({
                        url: "../Academia/saveprematricula",
                        method: "POST",
                        data: JSON.parse($scope.send),
                        headers: { 'Content-Type': 'application/json' }
                    }).then(function (response) {
                            


                        if (response.data.message == "error") {
                            $scope.message = "Error en la Transaccion Code: " + response.status;
                            $('#modal').modal('show');
                        }
                        if (response.data.message == "exito") {
                            

                            $('#modal').modal('show');
                            $scope.message = "Se ha guardo con exito tu preinscripción";
                            setTimeout(function () {
                                $window.location.href = "../Academia/maestrias";

                            }, 4000);

                        }


                    }, function (response) {
                        $scope.message = "Error: No se puede Generar la consulta: " + response.status;
                    });
                } else {
                    toastr["warning"]("Debe al menos escribir sus nombres, apellidos, cédula ,nacionalidad, un numero telefónico y su correo electrónico")
                }

            };
            
       

    }]);

</script>
