﻿
@{
    Layout = "~/Views/Shared/_Layout_A.cshtml";
    ViewBag.Title = "Prematriculas Maestrias";
}



<ng-controller ng-controller="Conprema">

    <div class="card card-block rounded smooth-scroll container">
        <h4 class="h4-responsive indigo-text font-weight-bold">Preinscripciones de Maestrías</h4> <a class="btn btn-sm  blue darken-4 col-3" ng-click="reportepre()">Imprimir preinscripciòn</a>




        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="light-blue white-text">
                    <tr>
                        <th>
                           ID
                        </th>
                        <th>
                            Mención
                        </th>
                        <th>
                            Nombres<a></a>y<a></a>Apellidos
                        </th>
                        <th>
                           Cédula o DNI
                        </th>
                        <th>
                        Nacionalidad
                        </th>
                        <th>
                            Dirección<a></a>domiciliar
                        </th>
                        <th>
                            Número de Casa
                        </th>
                        <th>
                            Número de Trabajo
                        </th>
                        <th>
                            Móvil Claro
                        </th>
                        <th>
                            Móvil Movistar
                        </th>
                        <th>
                            Correo<a></a>Electrónico
                        </th>
                        <th>
                           Centro<a></a>de<a></a>trabajo 
                        </th>
                        <th>
                            Puesto de Trabajo
                        </th> 
                        <th>
                          Tipo de Apoyo Empleador
                        </th>
                        <th>
                            Padece de Enfermerdades
                        </th>
                        <th>
                            Nombre del contacto
                        </th>
                        <th>
                            Número de contacto
                        </th>
                        <th>
                            Grado y Título Profesonial
                        </th>

                        <th>
                            Universidad
                        </th>

                        <th>
                            Promedio de Calificaciones
                        </th>

                        <th>
                            Inglés Lectura
                        </th>

                        <th>
                            Inglés Escritura
                        </th>

                        <th>
                            Inglés Conversación
                        </th>

                        <th>
                           Forma de Culminación
                        </th>

                        <th>
                            Experencia<a></a>en<a></a>trabajos<a></a><a></a><a></a><a></a><a></a><a></a><a></a>
                        </th>

                        <th>
                            Motivaciones<a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a>
                        </th>
                        <th>
                            Idea<a></a>de<a></a>proyecto<a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a>
                        </th>
                       
                       


                        



                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>

      
      
    </div>
</ng-controller>
<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/buttons.flash.min.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
<script src="~/Scripts/jszip.min.js"></script>
<script src="~/Scripts/buttons.print.min.js"></script>

<script>

    

    app.controller('Conprema', function ($scope, $window, $http) {
    
        var table = $('#table1').DataTable({
            select: true,
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "ajax": {
                "url": "../Academia/searchPrematriculas",
                "type": "POST",
                "dataType": "JSON"

            },
            "columns": [
                { "data": "IdPrematricula", "name": "IdPrematricula", visible: false },
                { "data": "Mencion", "name": "Mencion" },
                { "data": "NombresApellidos", "name": "NombresApellidos" },
                { "data": "Cedula", "name": "Cedula" },
                { "data": "Nacionalidad", "name": "Nacionalidad" },
                { "data": "DireccionDomiciliar", "name": "DireccionDomiciliar" },
                { "data": "NumeroCasa", "name": "NumeroCasa" },
                { "data": "NumeroTrabajo", "name": "NumeroTrabajo" },
                { "data": "NumeroClaro", "name": "NumeroClaro" },
                { "data": "NumeroMovistar", "name": "NumeroMovistar" },
                { "data": "Correo", "name": "Correo" },
                { "data": "CentrodeTrabajo", "name": "CentrodeTrabajo" },
                { "data": "PuestoTrabajo", "name": "" },
                { "data": "TipoApoyoEmpleador", "name": "TipoApoyoEmpleador" },
                { "data": "PadeceEnfermedades", "name": "PadeceEnfermedades" },
                { "data": "NombreApellidosContacto", "name": "NombreApellidosContacto" },
                { "data": "NumeroContacto", "name": "NumeroContacto" },
                { "data": "TituloAcadamico", "name": "TituloAcadamico" },
                { "data": "Universidad", "name": "Universidad" },
                { "data": "PromediodeNotas", "name": "PromediodeNotas" },
                { "data": "Lectura", "name": "Lectura" },
                { "data": "Escritura", "name": "Escritura" },
                 { "data": "Conversacion", "name": "Conversacion" },
                         { "data": "FormadeCulminacion", "name": "FormadeCulminacion" },
                            { "data": "ExperenciaTrabajosCienciasAmbientales", "name": "ExperenciaTrabajosCienciasAmbientales" },
                               { "data": "Motivaciones", "name": "Motivaciones" },
                                  { "data": "IdeadeTesina", "name": "IdeadeTesina" },
            ],
            "dom": 'Bfrtip',
            "buttons": [
                'excelHtml5'
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ Entradas por página",
                "zeroRecords": "Lo sentimos, no se encuentran concidencias",
                "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                "infoEmpty": "No hay entradas Disponibles",
                "infoFiltered": "(filtrar por _MAX_ total entradas)",
                "search": "Buscar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }, "select": {
                    rows: " "
                }
            }

        });

        $scope.reportepre = function () {
            if ($scope.idpreinscripcion > 0) {
                //$window.open("../Academia/Reportepreinscripcionmaestria?preinscripcion=" + $scope.idpreinscripcion, '_blank');
                $window.open("../Academia/PExport?pre=" + $scope.idpreinscripcion, '_blank');
            }
        };

        $('#table1 tbody').on('click', 'td', function () {

            setTimeout(function () {
                var idt = table.row('.selected').index();
                $scope.idpreinscripcion = table.cell(idt, 0).data();



            }, 100);


        });
    });
    setTimeout(function () {
        $('button').addClass("btn btn-sm blue darken-4");
        }, 500);
   

   
</script>