﻿@model PIENSAWEB.Models.ReportViewerViewModel

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout_A.cshtml";
}


<div class="flex-center row" ng-controller="create" ng-cloak>
    <div class="card col-md-12">

        <div class="card-block">

            <div class="form-horizontal row container">

                <h4 class="h4-responsive font-weight-bold col-6">Reporte de Preinscripciòn</h4>               
                <a class="btn btn-sm text-right indigo darken-4" href="~/Academia/Prematriculas">Ir a inicio de preinscripciones</a>
                <iframe src="@Model.ReportPath" style="width:100%; height:500px; border:none;"></iframe>


            </div>
        </div>
    </div>
</div>
