﻿@{
    ViewBag.Title = "Contactenos";
    Layout = "~/Views/Shared/_Layout_cont.cshtml";

}

@model PIENSAWEB.Models.Contacto

<div class="wow fadeIn white" data-wow-duration="3s" ng-controller="ContactController">
    <section class="container section mb-4 indigo-text">

        <!--Section heading-->
        <h1 class="section-heading indigo-text font-weight-bold ">Contáctenos</h1>
        <!--Section sescription-->

        <div class="row wow fadeIn" data-wow-duration="5s">

            <!--First column-->
            <div class="col-md-5">

                <!--Form with header-->
                <div class="card">

                    <div class="card-block">
                        <!--Header-->
                        <div class="form-header ">
                            <h3 class="indigo-text"><i class="fa fa-envelope"></i> Dejanos tu mensaje:</h3>
                        </div>


                        <br>
                        <form>
                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                @Html.EditorFor(model => model.NombresApellidos, new { htmlAttributes = new { @class = "form3", ng_model = "nombresapellidos" } })

                                <label for="form3">Nombres y Apellidos</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form2", ng_model = "correo" } })
                                <label for="form2">Correo</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-tag prefix"></i>
                                @Html.EditorFor(model => model.asunto, new { htmlAttributes = new { @class = "form32", ng_model = "asunto" } })
                                <label for="form32">Asunto</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-pencil prefix"></i>
                                @Html.EditorFor(model => model.Mensaje, new { htmlAttributes = new { @class = "form8", ng_model = "mensaje" } })
                                <label for="form8">Mensaje</label>
                            </div>



                            <div class="text-center">
                                <button class="btn btn-sm blue darken-4 font-weight-bold" ng-click="guardar()">
                                    Enviar
                                </button>
                        </form>
                    </div>

                </div>

            </div>
            <!--/Form with header-->

        </div>
        <!--/First column-->
        <!--Second column-->
        <div class="col-md-7 wow fadeIn" data-wow-duration="5s">


            @Html.Action("Contactenos", "Home", new { visible = true })





        </div>

        <div class="modal fade modal-ext" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header blue darken-4">
                        <h4 class="modal-title text-left white-text font-weight-bold">
                            Contáctenos
                        </h4>
                        <button class="close" type="button" data-dismiss="modal">
                            <span aria-hidden="true" class="white-text">×</span> <span class="sr-only">Cerrar</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <p class="red-text flex-center">{{message}}</p>
                    </div>

                </div>
            </div>
        </div>

</div>






<script>


    app.controller('ContactController', ['$scope', '$http', "$window", function ($scope, $http, $window) {
        $scope.mensaje = "";

        $scope.gg = function () {
            grecaptcha.execute();
            responsecat = grecaptcha.getResponse();
            $.ajax({
                url: "http://www.google.com/recaptcha/api/siteverify",
                data: {
                    secret: "6LfWcRYUAAAAAGDFwSVSOZms2aLAZim_4WAYcVZv",
                    response: responsecat
                },
                success: function (result) {
                    console.log(result.success);
                    grecaptcha.reset();
                }
            });
        }
        $scope.changeti = function () {
            $scope.blue = true;
        }
        $scope.changtt = function () {
            $scope.blue = false;
        }

        $scope.ggg = function () {
            grecaptcha.render('gg', {
                'sitekey': '6LfWcRYUAAAAAOfl0WuwIU_1WJ5abhKKxu-8v2rU'
            });
            grecaptcha.execute();
            responsecat = grecaptcha.getResponse();
            $.ajax({
                url: "http://www.google.com/recaptcha/api/siteverify",
                data: {
                    secret: "6LfWcRYUAAAAAGDFwSVSOZms2aLAZim_4WAYcVZv",
                    response: responsecat
                },
                success: function (result) {
                    console.log(result.success);
                    grecaptcha.reset();
                }
            });

        }


        $scope.guardar = function () {
            if ($scope.nombresapellidos.length > 8 && $scope.asunto.length > 5 && $scope.correo.length>10  && $scope.mensaje.length >0) {
                $http({
                url: "../Home/savecontact",
                method: "POST",
                data: $.param({
                    "asunto": $scope.asunto, "NombresApellidos": $scope.nombresapellidos,  "Correo": $scope.correo,"Mensaje" : $scope.mensaje
            }),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).then(function (response) {



                if (response.data.message == "error") {
                    $scope.message = "Error en la Transaccion Code: " + response.status;
                    $('#modal').modal('show');
            }
                if (response.data.message == "exito") {


                    $('#modal').modal('show');
                    $scope.message = "Se ha guardo con exito su petición";
                    setTimeout(function () {
                        $window.location.href = "../Home/index";

            }, 4000);

            }


            }, function (response) {
                $scope.message = "Error: No se puede Generar la consulta: " + response.status;
            });
            }else{
                toastr["warning"]("Debe escribir sus nombres y apellidos, correo electrónico, asunto y Mensaje")
            }

        }

        $scope.casa = function () {
            $scope.numerocasa = Telefono($scope.numerocasa);
        }
        $scope.trabajo = function () {
            $scope.numerotrabajo = Telefono($scope.numerotrabajo);
        }
        $scope.claro = function () {
            $scope.numeroclaro = Telefono($scope.numeroclaro);
        }
        $scope.movistar = function () {
            $scope.numeromovistar = Telefono($scope.numeromovistar);
        }
        $scope.contacton = function () {
            $scope.numerocontacto = Telefono($scope.numerocontacto);
        }
        $scope.promedion= function () {
            $scope.promedio = NoLetras($scope.promedio);
        }

    }]);

            </script>


