﻿@model IEnumerable<PIENSAWEB.Models.Post>



<div class="wow fadeInRight" data-wow-duration="0.5s">
    <h3 class="h3-responsive pink-text font-weight-bold mt-2">Ultimas Noticias</h3>
    <hr class="pink mr-5" />


    <div class="row">


        @for (var i = 0; i < Model.Count(); i++)
        {
            if (i == 0)
            {
                <div class="col-md-6 col-sm-12 row">
                    <div class="card   w-100 h-100 imagen-principal" id="myNoticia@(Model.ToArray()[i].Idpost)">

                        <!-- Content -->

                        <a href="../Noticias/publicacionn?id=@Model.ToArray()[i].Idpost" class="h-100">
                            <div class="imagen-card  text-left h-100 " style=" background-image: url('@(Model.ToArray()[i].Imagen)');">
                                <div class="d-flex  align-items-end   h-100  rgba-black-light px-2 py-2">
                                    <div class="d-flex  align-items-end  ">
                                        <h6 class="white-text font-weight-bold">@Model.ToArray()[i].Titulo</h6>



                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

            }

            if (i == 1)
            {
                @Html.Raw("<div class='col-md-6 col-sm-12 w-100 row'>")
            }
            if (i != 0)
            {
                <div class="col-md-6 col-sm-12 w-100">
                    <div class="card  w-100 h-100" id="myNoticia@(Model.ToArray()[i].Idpost)">

                        <!-- Content -->

                        <a href="../Noticias/publicacionn?id=@Model.ToArray()[i].Idpost" class="h-100">
                            <div class="imagen-card  text-left h-100 " style=" background-image: url('@(Model.ToArray()[i].Imagen)');">
                                <div class="d-flex  align-items-end   h-100  rgba-black-light px-2 py-2">
                                    <div class="d-flex  align-items-end  ">
                                        <h6 class="white-text font-weight-bold">@Model.ToArray()[i].Titulo</h6>



                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }
            if (i == Model.Count() - 1)
            {
                @Html.Raw("</div>")
            }

            <script>
                $("#myNoticia@(Model.ToArray()[i].Idpost)").click(function () {
                    window.location.href = "../Noticias/publicacionn?id=@Model.ToArray()[i].Idpost";

                });


            </script>

        }
        <div class="d-flex justify-content-end w-100 mr-4 pr-4">
            <a class="btn btn-sm pink text-white text-right" href="../noticias/todas">Ver todas</a>
        </div>
    </div>
</div>


<style>
    .imagen-card {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        transition: all 0.7s ease;
    }

        .imagen-card:hover {
            transform: scale(1.1);
            cursor: pointer;
            z-index: 4;
        }

    .col-md-6, col.col-sm-12 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    @@media (min-width: 640px) {
        .imagen-principal {
            min-height: 350px !important
        }
    }
</style>



