﻿@model IEnumerable<PIENSAWEB.Models.Post>



<div class="wow fadeInRight " data-wow-duration="0.5s">
    <h3 class="h3-responsive pink-text font-weight-bold mt-4">Ultimas Noticias</h3>


    <hr class="pink" />
    <div class="row">


        @for (var i = 0; i < Model.Count(); i++)
        {

            <div class="col-md-12 col-sm-12">


                <div class="w-100 h-100 " style="min-height:100px !important;cursor:pointer;" id="myBox@(Model.ToArray()[i].Idpost)">
                    <div class="row mx-1 ">
                        <!-- Content -->
                        @*<a class="imagen-card  text-left" style=" background-image: url(@(Model.ToArray()[i].Imagen));" href="../Noticias/publicacionn?id=@Model.ToArray()[i].Idpost">
                            <div class="d-flex align-items-end h-100  rgba-black-light px-2">
                                <h6 class="white-text "><i class="fas fa-chart-pie"></i>@Model.ToArray()[i].Titulo</h6>


                            </div>

                        </a>*@
                        <div class="col-sm-4 ">
                            <img src="@(Model.ToArray()[i].Imagen)" />
                        </div>
                        <div class="col-sm-8 text-left">
                            <h6 class="h6-responsive font-weight-bold" style="font-size:0.75rem">@Model.ToArray()[i].Titulo</h6>
                            <a style="font-size:0.65rem" class="grey-text">  @Model.ToArray()[i].FechaHora.ToString()</a>
                        </div>
                    </div>
                </div>

            </div>


            <script>
                $("#myBox@(Model.ToArray()[i].Idpost)").click(function () {
                    window.location.href = "../Noticias/publicacionn?id=@Model.ToArray()[i].Idpost";

                });


            </script>


        }
            <div class="d-flex justify-content-end w-100">
                <a class="btn btn-sm pink text-white text-right" href="../noticias/todas">Ver todas</a>
            </div>
        </div>
    </div>


<style>
    .imagen-card {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        transition: all 0.7s ease;
    }

        .imagen-card:hover {
            transform: scale(1.1);
            cursor: pointer;
            z-index: 4;
        }

    .border-text {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
    }
</style>



