﻿
@{
    ViewBag.Title = "Todas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ng-controller ng-controller="noticiasController" ng-clock>

    <h2 class="red-text mt-4">Noticias</h2>
    <hr class="red" />

    <div id="data-container"></div>
    <div id="pagination-container" class="paginationjs-theme-blue paginationjs-small mb-4"></div>

</ng-controller>

<script src="~/Scripts/pagination.js"></script>
<link rel="stylesheet" href="~/Content/pagination.css"> 
<link rel="stylesheet" href="~/Content/pagination.less">


<script>
    app.controller('noticiasController', ['$scope', '$http', "$window", function ($scope, $http, $window) {

        var pagination = 1;

        function simpleTemplating(data) {
            var html = '<div class="row">';
            $.each(data, function (index, item) {
                html += '<div class="col-sm-12 col-md-12"> <div class="card my-2 py-2 px-2 "><h2>' + item.title + ' </h2><div class="row"> <div class="class="col-md-4 col-sm-12 py-4 px-4"><img class="img-thumbnail ml-2 " style="max-width:200px"  src="' + item.media + '"/></div><div class="col-md-8 col-sm-12">' + item.description +' </div></div></div></div>';
            });
            html += '</div>';
            return html;
        }

        $('#pagination-container').pagination({
            dataSource: '../noticias/searchnoticias',
            locator: 'items',
            totalNumberLocator: function (response) {
                return response.total;
            },
            pageSize: 5,
            ajax: {
                    type:"GET",
                    data: {
                        pageNumber: pagination,
                        pageSize: '5'
                    },
                    async: true,
                    
                    beforeSend: function (data) {
                        console.log(data);
                        $('#data-container').html('Loading data from flickr.com ...');
                    }
            },
            callback: function (data, pagi) {
                // template method of yourself
              
                pagination = pagi.pageNumber;
                var html = simpleTemplating(data);
                $('#data-container').html(html);
            }
        })


    }]);
   
 </script>